<div class="user-wrap">
    <div class="profile-img">
        <div class="bg-loader"></div>
    </div>
    <div class="user-info">
        <h3></h3>
        <h4></h4>
    </div>
</div>
<ul class="sidebar-icon">
    <li>
        <a href="javascript:void(0)">
            <div class="bar-icon-img"></div>
            <h4></h4>
        </a>
    </li>
    <li>
        <a href="javascript:void(0)">
            <div class="bar-icon-img"></div>
            <h4></h4>
        </a>
    </li>
    <li>
        <a href="javascript:void(0)">
            <div class="bar-icon-img"></div>
            <h4></h4>
        </a>
    </li>
    <li>
        <a href="javascript:void(0)">
            <div class="bar-icon-img"></div>
            <h4></h4>
        </a>
    </li>
    <li>
        <a href="javascript:void(0)">
            <div class="bar-icon-img"></div>
            <h4></h4>
        </a>
    </li>
    <li>
        <a href="javascript:void(0)">
            <div class="bar-icon-img"></div>
            <h4></h4>
        </a>
    </li>
    <li>
        <a href="javascript:void(0)">
            <div class="bar-icon-img"></div>
            <h4></h4>
        </a>
    </li>
    <li>
        <a href="javascript:void(0)">
            <div class="bar-icon-img"></div>
            <h4></h4>
        </a>
    </li>
</ul>
<div class="main-icon">
    <a href="javascript:void(0)">
        <div class="bar-icon-img"></div>
        <h4></h4>
    </a>
</div>