<app-loading></app-loading>

<header class="no-sticky bg-transparent">
    <app-header-one></app-header-one>
</header>

<section class="breadcrumb-section bg-size"
    style="background-image: url(assets/images/breadcrumb.jpg);background-size: cover;background-position: center center;background-repeat: no-repeat;display: block;">
    <app-breadcrumb-section></app-breadcrumb-section>
</section>

<section class="section-pt-space section-pb-space popular-topics">
    <app-popular-topics></app-popular-topics>
</section>

<section class="section-pb-space help-contact">
    <app-inquiry></app-inquiry>
</section>

<section>
    <app-download></app-download>
</section>

<footer class="footer-t-space">
    <app-footer [footerClass]="'footer-b-space'"></app-footer>
</footer>