<img src="assets/images/breadcrumb.jpg" class="img-fluid bg-img" alt="" style="display: none;">
<div class="animation-emoji">
    <app-animation-emoji></app-animation-emoji>
</div>
<div class="help-search">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-12 m-auto">
                <h2>how can we help you?</h2>
                <form>
                    <input type="search" class="form-control" placeholder="Search something here...">
                    <span>popular topics: privacy, security, profile</span>
                </form>
            </div>
        </div>
    </div>
</div>


<div>
    <app-test-errors></app-test-errors>
</div>