<div class="profile-content">
    <div class="image-section">
        <div class="profile-img">
            <div class="bg-size" style="background-image: url(assets/images/user-sm/15.jpg); background-size: cover; background-position: center center; background-repeat: no-repeat; display: block;">
                <img src="assets/images/user-sm/15.jpg" class="img-fluid bg-img" alt="profile" style="display: none;">
            </div>
            <span class="stats">
                <img src="assets/images/icon/verified.png" class="img-fluid" alt="verified">
            </span>
        </div>
    </div>
    <div class="profile-detail">
        <h2>kelin jasen <span>❤</span></h2>
        <h5>kelin.jasen156&#64;gmail.com</h5>
        <div class="counter-stats">
            <ul>
                <li>
                    <h3 class="counter-value">546</h3>
                    <h5>following</h5>
                </li>
                <li>
                    <h3 class="counter-value">26335</h3>
                    <h5>likes</h5>
                </li>
                <li>
                    <h3 class="counter-value">6845</h3>
                    <h5>followers</h5>
                </li>
            </ul>
        </div>
        <a href="javascript:void(0)" (click)="editProfile()"
            class="btn btn-solid">edit profile</a>
    </div>
</div>