<div class="modal-content">
    <div class="modal-body">
        <div class="story-bg">
            <div class="container-fluid p-0">
                <div class="row m-0">
                    <div class="left-box col-xl-3 col-lg-4">
                        <div class="model-title">
                            <div class="title-main">
                                <h2>stories</h2>
                            </div>
                            <div class="title-setting">
                                <ul>
                                    <li><a href="javascript:void(0)">archive</a></li>
                                    <li><a href="javascript:void(0)">settings</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="modal-flex">
                            <div class="add-story">
                                <h4 class="story-title">your story</h4>
                                <div class="media list-media">
                                    <div class="story-img" (click)="uploadStory()">
                                        <div class="user-img">
                                            <img src="assets/images/story-bg.jpg" class="img-fluid  bg-img" alt="user">
                                        </div>
                                        <div class="add-icon">
                                            <div class="icon">
                                                <img src="assets/images/icon/plus.png" class="img-fluid " alt="plus">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h5>add story</h5>
                                        <h6>share your photos or video</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="friend-story">
                                <h4 class="story-title">all stories</h4>
                                <div class="slider-nav">
                                    @for (item of stories; track item) {
                                    <div>
                                        <div class="media list-media">
                                            <div class="story-img {{item.class}}">
                                                <div class="user-img bg-size"
                                                    [ngStyle]="{'background-image': 'url(' +  item.url  + ')'}" style="background-size: cover;
                                                            background-position: center center;
                                                            background-repeat: no-repeat;
                                                            display: block;">
                                                    <img [src]="item.url" class="img-fluid  bg-img" alt="user"
                                                        style="display: none;">
                                                </div>
                                            </div>
                                            <div class="media-body">
                                                <h5>{{item.username}}</h5>
                                                <h6>{{item.time}} hours ago</h6>
                                            </div>
                                        </div>
                                    </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right-box col-xl-9 col-lg-8 p-0">
                        <a href="javascript:void(0)" (click)="modalServices.dismissAll()">
                            <app-feather-icon [icons]="'x'" [class]="'icon-light close'"></app-feather-icon>
                        </a>
                        <div class="sliderContainer">
                            <div class="slider single-item">
                                <owl-carousel-o [options]="friendSuggestionOptions">
                                    @for (item of storySlider; track item) {
                                    <ng-template carouselSlide>
                                        <div>
                                            <div class="story-image">
                                                <img [src]="item.image" class="img-fluid " alt="image">
                                            </div>
                                        </div>
                                    </ng-template>
                                    }
                                </owl-carousel-o>
                            </div>
                        </div>
                        <div class="reply-section">
                            <div class="reply-form">
                                <input class="form-control" placeholder="reply...">
                            </div>
                            <ul class="emoji icon-xl">
                                @for (item of emoji; track item) {
                                <li><img [src]="item.svg" class="img-fluid " alt="smile"></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>