
<header>
    <app-header-one-skeleton></app-header-one-skeleton>
</header>
<div class="page-body container-fluid custom-padding profile-page profile-page-about">
    <div class="sidebar-panel">
       <app-sidebar-one-skeleton></app-sidebar-one-skeleton>
    </div>
    <div class="page-center">
        <div class="profile-cover bg-size">
            <div class="profile-box d-lg-block d-none">
                <div class="profile-content">
                    <div class="image-section">
                        <div class="profile-img">
                            <div class="bg-loader"></div>
                        </div>
                    </div>
                    <div class="profile-detail">
                        <h2></h2>
                        <h5></h5>
                        <div class="counter-stats">
                            <div class="counter-stats">
                                <span></span>
                            </div>
                        </div>
                        <div class="ldr-btn btn"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-lg-none d-block">
            <div class="profile-box">
                <div class="profile-content">
                    <div class="image-section">
                        <div class="profile-img">
                            <div class="bg-loader"></div>
                        </div>
                    </div>
                    <div class="profile-detail">
                        <h2></h2>
                        <h5></h5>
                        <div class="counter-stats">
                            <span></span>
                        </div>
                        <div class="ldr-btn btn"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-menu section-t-space">
            <ul>
                <li>
                </li>
                <li>
                </li>
                <li>
                </li>
                <li>
                </li>
                <li class="d-xl-none d-inline-block">
                </li>
            </ul>
            <ul class="right-menu d-xl-flex d-none">
                <li>
                </li>
                <li>
                </li>
            </ul>
        </div>
        <div class="container-fluid section-t-space px-0">
            <div class="row">
                <div class="content-left col-4 res-full-width order-1">
                    <div class="profile-about sticky-top">
                        <div class="card-title">
                            <h3></h3>
                            <div class="settings">
                                <div class="setting-btn">
                                    <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#editProfile">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="about-content">
                            <ul>
                                <li>
                                    <div class="icon">
                                    </div>
                                    <div class="details">
                                        <h5></h5>
                                        <h6></h6>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                    </div>
                                    <div class="details">
                                        <h5></h5>
                                        <h6></h6>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                    </div>
                                    <div class="details">
                                        <h5></h5>
                                        <h6></h6>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                    </div>
                                    <div class="details">
                                        <h5></h5>
                                        <h6></h6>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                    </div>
                                    <div class="details">
                                        <h5></h5>
                                        <h6></h6>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                    </div>
                                    <div class="details">
                                        <h5></h5>
                                        <h6></h6>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                    </div>
                                    <div class="details">
                                        <h5></h5>
                                        <h6></h6>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                    </div>
                                    <div class="details">
                                        <h5></h5>
                                        <h6></h6>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                    </div>
                                    <div class="details">
                                        <h5></h5>
                                        <h6></h6>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                    </div>
                                    <div class="details">
                                        <h5></h5>
                                        <h6></h6>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="about-footer">
                            <ul>
                                <li class="fb">
                                </li>
                                <li class="tw">
                                </li>
                                <li class="wa">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="content-center col-xl-8">
                    <div class="about-profile section-b-space">
                        <div class="card-title">
                            <h3></h3>
                            <div class="settings">
                                <div class="setting-btn">
                                    <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#editProfile">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <ul class="about-list">
                            <li>
                                <h5 class="title"></h5>
                                <h6 class="content"></h6>
                            </li>
                            <li>
                                <h5 class="title"></h5>
                                <h6 class="content"></h6>
                            </li>
                            <li>
                                <h5 class="title"></h5>
                                <h6 class="content"></h6>
                            </li>
                            <li>
                                <h5 class="title"></h5>
                                <h6 class="content"></h6>
                            </li>
                            <li>
                                <h5 class="title"></h5>
                                <h6 class="content"></h6>
                            </li>
                            <li>
                                <h5 class="title"></h5>
                                <h6 class="content"></h6>
                            </li>
                            <li>
                                <h5 class="title"></h5>
                                <h6 class="content"></h6>
                            </li>
                        </ul>
                    </div>
                    <div class="about-profile section-b-space">
                        <div class="card-title">
                            <h3></h3>
                            <div class="settings">
                                <div class="setting-btn">
                                    <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#editProfile">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <ul class="about-list">
                            <li>
                                <h5 class="title"></h5>
                                <h6 class="content"></h6>
                            </li>
                            <li>
                                <h5 class="title"></h5>
                                <h6 class="content"></h6>
                            </li>
                            <li>
                                <h5 class="title"></h5>
                                <h6 class="content"></h6>
                            </li>
                            <li>
                                <h5 class="title"></h5>
                                <h6 class="content"></h6>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="friend-list-box section-t-space section-b-space">
                        <div class="card-title">
                            <h3></h3>
                        </div>
                        <div class="container-fluid">
                            <div class="friend-list row">
                                <div class="col-sm-6">
                                    <div class="friend-box">
                                        <div class="media">
                                            <a href="jascript:void(0)" class="user-img">
                                            </a>
                                            <div class="media-body">
                                                <a href="jascript:void(0)">
                                                    <h5 class="user-name"></h5>
                                                </a>
                                                <h6></h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="friend-box">
                                        <div class="media">
                                            <a href="jascript:void(0)" class="user-img">
                                            </a>
                                            <div class="media-body">
                                                <a href="jascript:void(0)">
                                                    <h5 class="user-name"></h5>
                                                </a>
                                                <h6></h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="friend-box">
                                        <div class="media">
                                            <a href="jascript:void(0)" class="user-img">
                                            </a>
                                            <div class="media-body">
                                                <a href="jascript:void(0)">
                                                    <h5 class="user-name"></h5>
                                                </a>
                                                <h6></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="friend-box">
                                        <div class="media">
                                            <a href="jascript:void(0)" class="user-img">
                                            </a>
                                            <div class="media-body">
                                                <a href="jascript:void(0)">
                                                    <h5 class="user-name"></h5>
                                                </a>
                                                <h6></h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="friend-box">
                                        <div class="media">
                                            <a href="jascript:void(0)" class="user-img">
                                            </a>
                                            <div class="media-body">
                                                <a href="jascript:void(0)">
                                                    <h5 class="user-name"></h5>
                                                </a>
                                                <h6></h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="friend-box">
                                        <div class="media">
                                            <a href="jascript:void(0)" class="user-img">
                                            </a>
                                            <div class="media-body">
                                                <a href="jascript:void(0)">
                                                    <h5 class="user-name"></h5>
                                                </a>
                                                <h6></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="conversation-panel xl-light">
        <app-conversation-panel-skeleton></app-conversation-panel-skeleton>        

    </div>

</div>
