<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="title-sec">
                <h4>WingTek Notions</h4>
                <h3>Our Team</h3>
            </div>
        </div>
        <div class="col-12">
            <div class="slide-4 no-arrow mw-100">
                <owl-carousel-o [options]="option">
                    @for (item of teamSection; track item) {
                    <ng-template carouselSlide>
                        <div>
                            <div class="team-section">
                                <div class="team-image bg-size" 
                                [ngStyle]="{'background-image': 'url(' +  item.image  + ')'}"
                                 style="background-size: cover;background-position: center center;background-repeat: no-repeat;display: block;">
                                    <img [src]="item.image" class="img-fluid bg-img" alt="" style="display: none;">
                                </div>
                                <div class="team-content">
                                    <h3>{{item.name}}</h3>
                                    <h6>{{item.post}}</h6>
                                    <div class="team-social">
                                        @for (items of item.icons; track items) {
                                        <a href="javascript:void(0)" class="social-box">
                                            <app-svg-icon [icons]="items.icon"></app-svg-icon>
                                        </a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    }
                </owl-carousel-o>
            </div>
        </div>
    </div>
</div>
<div class="animation-home">
    <div class="cross"></div>
    <div class="cross cross1"></div>
    <div class="tringle"></div>
    <div class="tringle tringle1"></div>
    <div class="circle"></div>
</div>