<header>
    <app-header-one-skeleton></app-header-one-skeleton>
</header>
<div class="page-body container-fluid newsfeed-style6">
    <div class="panel-sidebar">
        <div class="sticky-cls">
            <div class="sidebar-panel panel-lg dark-sidebar">
                <app-sidebar-two-skeleton></app-sidebar-two-skeleton>
            </div>
            <div class="page-list section-t-space">
                <div class="card-title">
                    <h3></h3>
                </div>
                <div class="list-content">
                    <ul>
                        <li>
                            <div class="media">
                                <div class="img-part">
                                </div>
                                <div class="media-body">
                                    <h4></h4>
                                    <h6></h6>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="img-part">
                                </div>
                                <div class="media-body">
                                    <h4></h4>
                                    <h6></h6>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="img-part">
                                </div>
                                <div class="media-body">
                                    <h4></h4>
                                    <h6></h6>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="img-part">
                                </div>
                                <div class="media-body">
                                    <h4></h4>
                                    <h6></h6>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="img-part">
                                </div>
                                <div class="media-body">
                                    <h4></h4>
                                    <h6></h6>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="page-center">
        <div class="container-fluid  px-0">
            <div class="page-content">
                <div class="content-center content-full w-100">
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="create-post">
                                <app-create-post-skeleton></app-create-post-skeleton>
                            </div>
                            <div class="overlay-bg"></div>
                            <div class="post-panel section-t-space">
                                <app-post-panel-skeleton></app-post-panel-skeleton>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="post-panel">
                                <app-post-panel-skeleton></app-post-panel-skeleton>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="conversation-panel">
        <app-conversation-panel-skeleton></app-conversation-panel-skeleton>
    </div>
</div>