<div class="setting-wrapper">
    <div class="setting-title">
        <h3>notification</h3>
    </div>
    <div class="form-sec">
        <div>
            <form class="theme-form form-sm">
                <div class="row">
                    <div class="form-group col-12">
                        <label>where you receive these notifications?</label>
                    </div>
                    <div class="form-group toggle-sec col-md-6">
                        <div class="button toggle-btn">
                            <input type="checkbox" class="checkbox">
                            <div class="knobs">
                                <span></span>
                            </div>
                            <div class="layer"></div>
                        </div>
                        <label>email <span>Lorem ipsum dolor sit amet
                            </span></label>
                    </div>
                    <div class="form-group toggle-sec col-md-6">
                        <div class="button toggle-btn">
                            <input type="checkbox" checked class="checkbox">
                            <div class="knobs">
                                <span></span>
                            </div>
                            <div class="layer"></div>
                        </div>
                        <label>SMS
                            <span>Lorem ipsum dolor sit amet</span>
                        </label>
                    </div>
                    <div class="form-group col-12">
                        <label>other notification</label>
                    </div>
                    <div class="form-group toggle-sec col-md-6">
                        <div class="button toggle-btn">
                            <input type="checkbox" class="checkbox">
                            <div class="knobs">
                                <span></span>
                            </div>
                            <div class="layer"></div>
                        </div>
                        <label>sound
                            <span>Lorem ipsum dolor sit amet</span>
                        </label>
                    </div>
                    <div class="form-group toggle-sec col-md-6">
                        <div class="button toggle-btn">
                            <input checked type="checkbox" class="checkbox">
                            <div class="knobs">
                                <span></span>
                            </div>
                            <div class="layer"></div>
                        </div>
                        <label>vibration
                            <span>Lorem ipsum dolor sit amet</span>
                        </label>
                    </div>
                    <div class="form-group toggle-sec col-md-6">
                        <div class="button toggle-btn">
                            <input type="checkbox" class="checkbox">
                            <div class="knobs">
                                <span></span>
                            </div>
                            <div class="layer"></div>
                        </div>
                        <label>friend request
                            <span>Lorem ipsum dolor sit amet</span>
                        </label>
                    </div>
                    <div class="form-group toggle-sec col-md-6">
                        <div class="button toggle-btn">
                            <input type="checkbox" class="checkbox">
                            <div class="knobs">
                                <span></span>
                            </div>
                            <div class="layer"></div>
                        </div>
                        <label>message
                            <span>Lorem ipsum dolor sit amet</span>
                        </label>
                    </div>
                    <div class="form-group toggle-sec col-md-6">
                        <div class="button toggle-btn">
                            <input type="checkbox" class="checkbox">
                            <div class="knobs">
                                <span></span>
                            </div>
                            <div class="layer"></div>
                        </div>
                        <label>comment
                            <span>Lorem ipsum dolor sit amet</span>
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>