<app-loading></app-loading>
<section class="login-section">
    <div class="header-section">
        <div class="logo-sec">
            <a [routerLink]="['/news-feed-layout/style-1']">
                <img src="assets/images/icon/logo-color2.png" alt="logo" class="img-fluid">
            </a>
        </div>
        <div class="right-links">
            <ul>
                <li>
                    <a href="javascript:void(0)">
                        about
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        upgrade
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-5 d-none d-lg-block">
                <div class="login-welcome">
                    <div>
                        <img src="assets/images/login/ring.png" class="img-fluid" alt="notions">
                        <h1>Welcome friend!</h1>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-7 col-md-10 col-12 m-auto">
                <div class="login-form">
                    <div>
                        <div class="login-title">
                            <h2>Register</h2>
                        </div>
                        <div class="login-discription">
                            <h3>Hello Everyone</h3>
                            <h4>Welcome to WingTek, create your account below to start using WingTek Notions.</h4>
                        </div>
                        <div class="form-sec">
                            <div> 
                                <form [formGroup]="registerForm" (ngSubmit)="register()" class ="theme-form">
                                    <div class="form-group">                                        
                                        <input type="text" class="form-control" 
                                        id="username" name="username" 
                                        formControlName="username" 
                                        placeholder="Username"
                                        [class.is-invalid]="registerForm.get('username')?.errors &&
                                        registerForm.get('username').touched">
                                        <app-feather-icon [class]="'input-icon iw-20 ih-20'"
                                            [icons]="'user'"></app-feather-icon>
                                        
                                       
                                 
                                    </div>
                                      <div class="form-group">
                                        <input
                                        [class.is-invalid]="registerForm.get('password')?.errors &&
                                        registerForm.get('password').touched"
                                            type="password" class="form-control" id="exampleInputPassword1"
                                            formControlName="password" name="password"
                                            placeholder="Password">
                                        <app-feather-icon [class]="'input-icon iw-20 ih-20'" [icons]="'eye'"></app-feather-icon>
                                        <div class="invalid-feedback text-start">Please enter a username</div>
                                        <!-- <app-feather-icon [icons]="'eye-off'" [class]="'nput-icon iw-20 ih-20'"></app-feather-icon> -->
                                    </div>
                                    <div class="form-group">
                                        <input 
                                        [class.is-invalid]="registerForm.get('confirmPassword')?.errors &&
                                        registerForm.get('confirmPassword').touched"
                                            type="password" class="form-control" 
                                            id="confirmPassword"
                                            formControlName="confirmPassword" 
                                            name="confirmPassword"
                                            placeholder="Confirm Password"
                                            >
                                        <app-feather-icon [class]="'input-icon iw-20 ih-20'" [icons]="'eye'"></app-feather-icon>
                                        <div class="invalid-feedback text-start">Please enter a username</div>
                                        <div *ngIf="registerForm.get('confirmPassword')?.hasError('isMatched')" 
                                            class="invalid-feedback text-start"> Passwords must match                                        
                                        </div>
                                    </div>
                                    <div class="bottom-sec">
                                        <div class="form-check checkbox_animated">
                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                            <label class="form-check-label" for="exampleCheck1">remember me</label>
                                        </div>
                                        <a href="javascript:void(0)" class="ms-auto">forget password?</a>
                                    </div>
                                    <div class="btn-section">
                                        <a href="javascript:void(0)" (click)="register()" class="btn btn-solid btn-lg">sign up</a>
                                        <a (click)="login()" class="btn btn-solid btn-lg ms-auto">login</a>
                                    </div>
                                </form>
                                <p>
                                    Form value: {{registerForm.value | json}}
                                </p>
                                <p>
                                    Form value: {{registerForm.status | json}}
                                </p>
                                <div class="connect-with">
                                    <h6><span>OR Connect With</span></h6>
                                    <ul class="social-links">
                                        <li class="google">
                                            <a href="javascript:void(0)">
                                                <app-svg-icon [icons]="'google'"></app-svg-icon>
                                            </a>
                                        </li>
                                        <li class="facebook">
                                            <a href="javascript:void(0)">
                                                <app-svg-icon [icons]="'facebook'"></app-svg-icon>
                                            </a>
                                        </li>
                                        <li class="twitter">
                                            <a href="javascript:void(0)">
                                                <app-svg-icon [icons]="'twitter'"></app-svg-icon>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
