<div class="card-header">
    <h4>theme Icon</h4>
</div>
<div class="card-body">
    <div class="icon-usage">
        <div class="row">
            <div class="col-12">
                <div class="icon-box">
                    <app-svg-icon [icons]="'game-controller'" [class]="'iw-50 ih-50'"></app-svg-icon>
                    <p>
                        <code>&lt;svg&nbsp;class="iw-50 ih-50"&gt;
                        &lt;use class="fill-color"&nbsp;xlink:href="assets/svg/icons.svg#game-controller"&gt;&lt;/use&gt;
                      &lt;/svg&gt;</code>
                    </p>
                </div>
                <div class="icon-box">
                    <app-svg-icon [icons]="'cake'" [class]="'iw-50 ih-50'"></app-svg-icon>
                    <p>
                        <code>&lt;svg&nbsp;class="iw-50 ih-50"&gt;
                        &lt;use class="fill-color"&nbsp;xlink:href="assets/svg/icons.svg#cake"&gt;&lt;/use&gt;
                      &lt;/svg&gt;</code>
                    </p>
                </div>
                <div class="icon-box">
                    <app-svg-icon [icons]="'degree'" [class]="'iw-50 ih-50'"></app-svg-icon>
                    <p>
                        <code>&lt;svg&nbsp;class="iw-50 ih-50"&gt;
                        &lt;use class="fill-color"&nbsp;xlink:href="assets/svg/icons.svg#degree"&gt;&lt;/use&gt;
                      &lt;/svg&gt;</code>
                    </p>
                </div>
                <div class="icon-box">
                    <app-svg-icon [icons]="'blood-drop'" [class]="'iw-50 ih-50'"></app-svg-icon>
                    <p>
                        <code>&lt;svg&nbsp;class="iw-50 ih-50"&gt;
                        &lt;use class="fill-color"&nbsp;xlink:href="assets/svg/icons.svg#blood-drop"&gt;&lt;/use&gt;
                      &lt;/svg&gt;</code>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>