<div class="sticky-cls-top" >    
    <div class="blog-sidebar">
        <div class="blog-wrapper">
            <div class="search-bar">
                <input type="text" placeholder="Search here..">
                <app-feather-icon [class]="'iw-16 ih-16'" [icons]="'search'"></app-feather-icon>
            </div>
        </div>
        <div class="blog-wrapper">
            <div class="sidebar-title">
                <h3>categories</h3>
            </div>
            <div class="sidebar-content">
                <ul class="sidebar-list">
                    @for (item of blogCategory; track item) {
                    <li>
                        <a href="javascript:void(0)">
                            <i aria-hidden="true" class="fa fa-angle-right"></i>{{item.name}}
                        </a>
                    </li>
                    }
                </ul>
            </div>
        </div>
        <div class="blog-wrapper">
            <div class="sidebar-title">
                <h3>popular post</h3>
            </div>
            <div class="sidebar-content">
                <ul class="blog-post">
                    @for (item of popularPost; track item) {
                    <li>
                        <div class="media">
                            <a href="javascript:void(0)">
                                <img class="img-fluid" [src]="item.image"
                                    alt="Generic placeholder image"></a>
                            <div class="media-body align-self-center">
                                <div>
                                    <h5>
                                        <app-feather-icon [icons]="'clock'"
                                            [class]="'iw-12 ih-12'"></app-feather-icon>{{item.date}}
                                    </h5>
                                    <h5>
                                        <app-feather-icon [icons]="'heart'"
                                            [class]="'iw-12 ih-12'"></app-feather-icon>{{item.like}}
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </li>
                    }
                </ul>
            </div>
        </div>
        <div class="blog-wrapper">
            <div class="sidebar-title">
                <h3>popular tags</h3>
            </div>
            <div class="sidebar-content">
                <ul class="tags">
                    @for (item of popularTags; track item) {
                    <li><a href="javascript:void(0)">{{item.tag}}</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>