<div class="calender-section custom-calender section-t-space  section-b-space">
  <div id='calendar'>
     <app-common-calender [isShow]="isShow"></app-common-calender>
  </div>
  <div class="event-bottom">
    <div class="event-content">
      <h3>tomorrow land event <span>14 december | <b>03:00am</b></span></h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry <span>6859
          People Going</span></p>
      <h6>united kingdom</h6>
    </div>
  </div>
</div>