<div class="pre-loader" [class.d-none]="commonServices.isSkeleton">
    <app-page-about-skeleton></app-page-about-skeleton>
</div>

<app-page-cover></app-page-cover>
<app-profile-menu [currentUrl]="currentUrl"></app-profile-menu>
<div class="container-fluid section-t-space px-0">
    <div class="row">
        <div class="col-xl-4">
            <app-about-profile-box></app-about-profile-box>
        </div>
        <div class="col-xl-8">
            <div class="about-profile section-b-space">
                <app-hobbies-interest [hobbyInterests]="hobbyInterest"></app-hobbies-interest>
            </div>
        </div>
    </div>
</div>