
<header>
    <app-header-one-skeleton></app-header-one-skeleton>
</header>

<div class="page-body container-fluid newsfeed-style6 single-post custom-padding">
    <div class="panel-sidebar">
        <div class="sticky-cls">
            <div class="sidebar-panel panel-lg dark-sidebar">
                <div class="user-wrap">
                    <div class="profile-img">
                        <div>
                            <img src="assets/images/user-sm/14.jpg" class="img-fluid bg-img"
                                alt="profile">
                        </div>
                    </div>
                    <div class="user-info">
                        <h3>Paige Turner</h3>
                        <h4>alabma, USA</h4>
                    </div>
                </div>
                <div class="main-icon d-lg-none d-block">
                    <a href="javascript:void(0)">
                        <i data-feather="grid" class="bar-icon"></i>
                    </a>
                </div>
                <ul class="sidebar-icon">
                    <li class="active">
                        <a href="javascript:void(0)">
                            <i data-feather="file" class="bar-icon"></i>
                            <h4>newsfeed</h4>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i data-feather="headphones" class="bar-icon"></i>
                            <h4>music & video</h4>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i data-feather="cloud" class="bar-icon"></i>
                            <h4>weather</h4>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i data-feather="calendar" class="bar-icon"></i>
                            <h4>calender</h4>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <svg class="bar-icon fill-white">
                                <use xlink:href="assets/svg/icons.svg#cake"></use>
                            </svg>
                            <h4>events</h4>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <svg class="bar-icon fill-white">
                                <use xlink:href="assets/svg/icons.svg#game-controller"></use>
                            </svg>
                            <h4>games</h4>
                        </a>
                    </li>
                </ul>
                <div class="main-icon d-lg-none d-block">
                    <a href="javascript:void(0)">
                        <i data-feather="power" class="bar-icon"></i>
                    </a>
                </div>
            </div>
            <div class="page-list section-t-space">
                <div class="card-title">
                    <h3></h3>
                </div>
                <div class="list-content">
                    <ul>
                        <li>
                            <div class="media">
                                <div class="img-part">
                                </div>
                                <div class="media-body">
                                    <h4></h4>
                                    <h6></h6>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="img-part">
                                </div>
                                <div class="media-body">
                                    <h4></h4>
                                    <h6></h6>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="img-part">
                                </div>
                                <div class="media-body">
                                    <h4></h4>
                                    <h6></h6>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="img-part">
                                </div>
                                <div class="media-body">
                                    <h4></h4>
                                    <h6></h6>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="img-part">
                                </div>
                                <div class="media-body">
                                    <h4></h4>
                                    <h6></h6>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="page-center">
    
        <div class="story-section ratio_115">
            <app-story-skeleton></app-story-skeleton>
        </div>
    
        <div class="container-fluid section-t-space  px-0">
            <div class="page-content">
                <div class="content-center content-full w-100">
                    <div class="row">
                        <div class="col-xl-12">
                        
                            <div class="create-post">
                                <app-create-post-skeleton></app-create-post-skeleton>
                            </div>
                            <div class="overlay-bg"></div>
                            <div class="post-panel section-t-space">
                                <app-post-panel-skeleton></app-post-panel-skeleton>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="conversation-panel">
        <app-conversation-panel-skeleton></app-conversation-panel-skeleton>        
    </div>

</div>