
<header>
    <app-header-one-skeleton></app-header-one-skeleton>
</header>
<div class="page-body container-fluid custom-padding birthday-page">
    <div class="sidebar-panel">
        <app-sidebar-one-skeleton></app-sidebar-one-skeleton>
    </div>
    <div class="page-center">
        <div class="event-cover light-cover">
            <div class="event-img">
            </div>
        </div>
        <div class="container-fluid section-t-space px-0">
            <div class="page-content">
                <div class="content-center">
                    <div class="friend-list-box birthday-list section-b-space">
                        <div class="card-title">
                            <h3></h3>
                        </div>
                        <div class="container-fluid">
                            <div class="friend-list friend-page-list">
                                <ul>
                                    <li>
                                        <div class="friend-box">
                                            <div class="media">
                                                <a href="javascript:void(0)" class="user-img"> </a>
                                                <div class="media-body">
                                                    <h5 class="user-name"></h5>
                                                    <h6></h6>
                                                </div>
                                            </div>
                                            <div class="ldr-btn btn"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="friend-box">
                                            <div class="media">
                                                <a href="javascript:void(0)" class="user-img"> </a>
                                                <div class="media-body">
                                                    <h5 class="user-name"></h5>
                                                    <h6></h6>
                                                </div>
                                            </div>
                                            <div class="ldr-btn btn"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="friend-box">
                                            <div class="media">
                                                <a href="javascript:void(0)" class="user-img"> </a>
                                                <div class="media-body">
                                                    <h5 class="user-name"></h5>
                                                    <h6></h6>
                                                </div>
                                            </div>
                                            <div class="ldr-btn btn"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <div class="friend-list-box birthday-list section-b-space">
                        <div class="card-title">
                            <h3></h3>
                        </div>
                        <div class="container-fluid">
                            <div class="friend-list friend-page-list">
                                <ul>
                                    <li>
                                        <div class="friend-box">
                                            <div class="media">
                                                <a href="javascript:void(0)" class="user-img"> </a>
                                                <div class="media-body">
                                                    <h5 class="user-name"></h5>
                                                    <h6></h6>
                                                </div>
                                            </div>
                                            <div class="ldr-btn btn"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="friend-box">
                                            <div class="media">
                                                <a href="javascript:void(0)" class="user-img"> </a>
                                                <div class="media-body">
                                                    <h5 class="user-name"></h5>
                                                    <h6></h6>
                                                </div>
                                            </div>
                                            <div class="ldr-btn btn"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <div class="friend-list-box birthday-list section-b-space">
                        <div class="card-title">
                            <h3></h3>
                        </div>
                        <div class="container-fluid">
                            <div class="friend-list friend-page-list">
                                <ul>
                                    <li>
                                        <div class="friend-box">
                                            <div class="media">
                                                <a href="javascript:void(0)" class="user-img"> </a>
                                                <div class="media-body">
                                                    <h5 class="user-name"></h5>
                                                    <h6></h6>
                                                </div>
                                            </div>
                                            <div class="ldr-btn btn"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="friend-box">
                                            <div class="media">
                                                <a href="javascript:void(0)" class="user-img"> </a>
                                                <div class="media-body">
                                                    <h5 class="user-name"></h5>
                                                    <h6></h6>
                                                </div>
                                            </div>
                                            <div class="ldr-btn btn"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="friend-box">
                                            <div class="media">
                                                <a href="javascript:void(0)" class="user-img"> </a>
                                                <div class="media-body">
                                                    <h5 class="user-name"></h5>
                                                    <h6></h6>
                                                </div>
                                            </div>
                                            <div class="ldr-btn btn"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="friend-box">
                                            <div class="media">
                                                <a href="javascript:void(0)" class="user-img"> </a>
                                                <div class="media-body">
                                                    <h5 class="user-name"></h5>
                                                    <h6></h6>
                                                </div>
                                            </div>
                                            <div class="ldr-btn btn"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="friend-box">
                                            <div class="media">
                                                <a href="javascript:void(0)" class="user-img"> </a>
                                                <div class="media-body">
                                                    <h5 class="user-name"></h5>
                                                    <h6></h6>
                                                </div>
                                            </div>
                                            <div class="ldr-btn btn"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-left d-none d-lg-block">
                    <div class="profile-box">
                        <app-profile-box-skeleton></app-profile-box-skeleton>
                    </div>
                    <div class="suggestion-box section-t-space">
                        <app-suggestion-box-skeleton></app-suggestion-box-skeleton>
                    </div>
                    <div class="birthday-section bg-size section-t-space">
                        <app-birthday-reminder-skeleton></app-birthday-reminder-skeleton>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="conversation-panel xl-light">
        <app-conversation-panel-skeleton></app-conversation-panel-skeleton>
    </div>
</div>
