<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="title-sec">
                <h4>download app now</h4>
                <h3>explore our app</h3>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="vector-section mb--5">
                <img src="assets/images/company-landing/app/mockup.png" class="img-fluid app-main wow zoomIn" alt="">
                <img src="assets/images/company-landing/app/1.png" class="img-fluid app-1 wow zoomIn" alt="">
                <img src="assets/images/company-landing/app/2.png" class="img-fluid app-2 wow zoomIn" alt="">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="feature-content wow fadeInRight">
                <div>
                    <h3 class="title">new features for you</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum blanditiis atque cum
                        iure nihil, ipsa commodi veniam, nemo ipsam sed aliquam aliquid modi totam. Quia
                        architecto nesciunt facere consectetur laudantium.</p>
                    <ul class="feature-lisiting">
                        <li>
                            <img src="assets/svg/checkmark.svg" class="img-fluid" alt="">
                            Easy to download and easy to use.
                        </li>
                        <li>
                            <img src="assets/svg/checkmark.svg" class="img-fluid" alt="">
                            explore the best features of friendbook app
                        </li>
                    </ul>
                    <div class="app-buttons">
                        <a href="javascript:void(0)">
                            <img src="assets/images/icon/google-play.png" class="img-fluid" alt="">
                        </a>
                        <a href="javascript:void(0)">
                            <img src="assets/images/icon/app-store.png" class="img-fluid" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="animation-home">
    <div class="cross"></div>
    <div class="cross cross1"></div>
    <div class="tringle"></div>
    <div class="tringle tringle1"></div>
    <div class="circle"></div>
    <div class="circle circle1"></div>
</div>