
<header>
    <app-header-one-skeleton></app-header-one-skeleton>
</header>
<div class="page-body container-fluid custom-padding favourite-page-body">
    <div class="sidebar-panel">
        <app-sidebar-one-skeleton></app-sidebar-one-skeleton>
    </div>
    <div class="page-center">
        <div class="page-cover">
            <div class="cover-img bg-size"> </div>
            <div class="cover-content">
                <div class="page-logo">
                </div>
                <a href="javascript:void(0)" class="page-name">
                    <h4></h4>
                    <h6></h6>
                </a>
                <div class="page-stats">
                    <ul>
                        <li>
                            <h2></h2>
                            <h6></h6>
                        </li>
                        <li>
                            <h2></h2>
                            <h6></h6>
                        </li>
                        <li>
                            <h2></h2>
                            <h6></h6>
                        </li>
                        <li>
                            <h2></h2>
                            <h6></h6>
                        </li>
                        <li>
                            <h2></h2>
                            <h6></h6>
                        </li>
                    </ul>
                </div>
                <div class="social-btn">
                    <ul>
                        <li class="facebook"></li>
                        <li class="twitter"></li>
                        <li class="whatsapp"></li>
                        <li class="instagram"></li>
                        <li class="youtube"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="profile-menu section-t-space">
            <ul>
                <li class="active"></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <ul class="right-menu d-xl-flex d-none">
                <li></li>
            </ul>
        </div>
        <div class="container-fluid section-t-space px-0">
            <div class="page-content">
                <div class="content-left">
                    <div class="sticky-top">
                    
                        <div class="profile-about pages-about">
                            <app-profile-box-skeleton></app-profile-box-skeleton>
                        </div>
                    
                        <div class="page-list section-t-space">
                            <app-like-page-skeleton></app-like-page-skeleton>
                        </div>
                    </div>
                </div>
                <div class="content-center">
                
                    <div class="post-panel">
                        <app-post-panel-skeleton></app-post-panel-skeleton>
                    </div>
                </div>
                <div class="content-right">
                    <div class="sticky-top">
                        <div class="birthday-section create-page bg-size">
                            <div class="birthday-top">
                                <div class="setting">
                                    <div class="setting-btn light-btn"></div>
                                    <div class="setting-btn light-btn setting-dropdown">
                                        <div class="btn-group custom-dropdown arrow-none dropdown-sm">
                                            <a class="d-flex" href="javascript:void(0)" data-bs-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                                <i class="icon-light stroke-width-3 iw-12 ih-12"
                                                    data-feather="sun"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="birthday-content">
                                <div class="image-section">
                                    <div class="event-group">
                                        <div class="center-profile"></div>
                                    </div>
                                </div>
                                <div class="details">
                                    <h3></h3>
                                    <h6></h6>
                                    <div class="ldr-p">
                                        <p></p>
                                        <p></p>
                                    </div>
                                    <div class="create-btn">
                                        <div class="ldr-btn btn"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gallery-section section-t-space">
                            <app-gallery-section-skeleton></app-gallery-section-skeleton>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="conversation-panel xl-light">
        <app-conversation-panel-skeleton></app-conversation-panel-skeleton>
    </div>
</div>