<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="intro-part">
                <div class="title">
                    <h2>Have a question? reach us</h2>
                    <p>looking for anything else? reach us by fill this form</p>
                </div>
                <div class="contact-img">
                    <img src="assets/svg/faq.svg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <app-accordion></app-accordion>
        </div>
    </div>
</div>