
<header>
    <app-header-one-skeleton></app-header-one-skeleton>
</header>
<div class="page-body container-fluid custom-padding weather-page">
    <div class="sidebar-panel">
        <app-sidebar-one-skeleton></app-sidebar-one-skeleton>
    </div>
    <div class="page-center">
        <div class="event-cover bg-theme">
            <div class="event-img"></div>
            <div class="event-timeline weather-timeline">
                <div class="timeline-title">
                    <div class="media">
                        <div class="media-body">
                            <h4></h4>
                            <h6></h6>
                        </div>
                    </div>
                </div>
                <ul class="timeline-content">
                    <li>
                        <h4></h4>
                        <h6></h6>
                    </li>
                    <li>
                        <h4></h4>
                        <h6></h6>
                    </li>
                    <li>
                        <h4></h4>
                        <h6></h6>
                    </li>
                    <li>
                        <h4></h4>
                        <h6></h6>
                    </li>
                    <li>
                        <h4></h4>
                        <h6></h6>
                    </li>
                    <li>
                        <h4></h4>
                        <h6></h6>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container-fluid section-t-space px-0">
            <div class="page-content">
                <div class="content-left">
                    <div>
                        <div class="weather-section weather-light">
                            <div class="card-title">
                                <h3></h3>
                                <div class="settings">
                                    <div class="setting-btn"></div>
                                </div>
                            </div>
                            <div class="weather-content">
                                <div class="top-title">
                                    <h2></h2>
                                    <h5></h5>
                                </div>
                                <h5></h5>
                                <h6></h6>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="weather-search section-t-space">
                            <div class="card-title">
                                <h3></h3>
                                <div class="settings">
                                    <div class="setting-btn"></div>
                                </div>
                            </div>
                            <form class="theme-form">
                                <div class="input-group">
                                    <div class="form-control"></div>
                                </div>
                                <div class="input-group">
                                    <div class="form-control"></div>
                                </div>
                                <div class="input-group">
                                    <div class="form-control"></div>
                                </div>
                                <div class="btn-section text-right">
                                    <div class="btn ldr-btn"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="content-center">
                    <div class="forecast-table section-b-space">
                        <div class="card-title">
                            <h3></h3>
                            <div class="settings">
                                <div class="setting-btn"></div>
                            </div>
                        </div>
                        <div class="table-sec">
                            <div class="detail-box">
                                <h3></h3>
                                <h5 class="tag"></h5>
                                <div class="ldr-p">
                                    <p></p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="conversation-panel xl-light">
        <app-conversation-panel-skeleton></app-conversation-panel-skeleton>
    </div>
</div>
