<div class="sticky-top">
    <div class="profile-about pages-about section-b-space">
        <div class="card-title">
            <h3>about</h3>
            <div class="settings">
                <div class="setting-btn">
                    <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#editProfile">
                        <app-feather-icon [icons]="'rotate-cw'"  [class]="'icon icon-dark stroke-width-3 iw-11 ih-11'"></app-feather-icon>

                    </a>
                </div>
            </div>
        </div>
        <div class="about-content">
            <ul>
                <li>
                    <div class="details">
                        <h4>page info</h4>
                        <h6>created on 10 march 2024</h6>
                    </div>
                </li>
                <li>
                    <div class="details">
                        <h4>about us</h4>
                        <h6>We dance because there’s no greater feeling in the world than moving
                            a piece of music and letting the rest of the world disappear.</h6>
                    </div>
                </li>
                <li>
                    <div class="details">
                        <h4>mission</h4>
                        <h6>" Practice like you’re in last. Perform like you’ve already won."
                        </h6>
                    </div>
                </li>
                <li>
                    <div class="details">
                        <h4>Timings</h4>
                        <h6> 10 AM to 9 PM
                        </h6>
                    </div>
                </li>
                <li>
                    <div class="details">
                        <h4>website</h4>
                        <h6><a href="www.friendbook.com">www.friendbook.com</a></h6>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>