<div class="post-wrapper col-grid-box">
    <div class="post-title">
        <div class="profile">
            <div class="media">
                <div class="user-img">
                </div>
                <div class="media-body">
                    <h5></h5>
                    <h6></h6>
                </div>
            </div>
        </div>
    </div>
    <div class="post-details ratio2_1">
        <div class="img-wrapper bg-size">
        </div>
        <div class="detail-box">
            <h3></h3>
            <h5 class="tag"></h5>
            <div class="ldr-p">
                <p></p>
                <p></p>
            </div>
            <div class="bookmark favourite-btn">
            </div>
        </div>
    </div>
</div>
<div class="post-wrapper col-grid-box section-t-space">
    <div class="post-title">
        <div class="profile">
            <div class="media">
                <div class="user-img">
                </div>
                <div class="media-body">
                    <h5></h5>
                    <h6></h6>
                </div>
            </div>
        </div>
    </div>
    <div class="post-details ratio2_1">
        <div class="img-wrapper bg-size">
        </div>
        <div class="detail-box">
            <h3></h3>
            <h5 class="tag"></h5>
            <div class="ldr-p">
                <p></p>
                <p></p>
            </div>
            <div class="bookmark favourite-btn">
            </div>
        </div>
    </div>
</div>