
<header>
    <app-header-one-skeleton></app-header-one-skeleton>
</header>

<div class="page-body container-fluid newsfeed-style2">
    <div class="sidebar-panel panel-lg">
        <app-sidebar-two-skeleton></app-sidebar-two-skeleton>
    </div>
    
    <div class="page-center">
        <div class="story-section ratio_115">
            <app-story-skeleton></app-story-skeleton>
        </div>
        <div class="container-fluid section-t-space px-0 layout-default">
            <div class="page-content">
                <div class="content-left">
                    <div class="profile-box">
                        <app-profile-box-skeleton></app-profile-box-skeleton>
                    </div>
                    <div class="suggestion-box section-t-space">
                        <app-suggestion-box-skeleton></app-suggestion-box-skeleton>
                    </div>
                    <div class="page-list section-t-space">
                        <app-like-page-skeleton></app-like-page-skeleton>
                    </div>
                </div>
                <div class="content-center">
                    <div class="create-post">
                        <app-create-post-skeleton></app-create-post-skeleton>
                    </div>
                    <div class="overlay-bg"></div>
                    <div class="post-panel section-t-space">
                        <app-post-panel-skeleton></app-post-panel-skeleton>
                    </div>
                </div>
                <div class="content-right">
                    <div class="suggestion-box">
                        <app-suggestion-box-skeleton></app-suggestion-box-skeleton>
                    </div>
                    <div class="sticky-top">
                            <div class="gallery-section section-t-space">
                            <app-gallery-section-skeleton></app-gallery-section-skeleton>
                        </div>
                            <div class="birthday-section bg-size section-t-space">
                            <app-birthday-reminder-skeleton></app-birthday-reminder-skeleton>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
