<div class="row">
    <div class="col-xl-6">
        <div class="playlist-sec">
            <div class="card-title">
                <h3>Top 5 games</h3>
                <div class="settings">
                    <div class="setting-btn">
                        <a href="javascript:void(0)" class="d-flex">
                            <app-feather-icon [icons]="'rotate-cw'" [class]="'icon icon-theme stroke-width-3 iw-11 ih-11'"></app-feather-icon>
                        </a>
                    </div>
                    <div class="setting-btn ms-2 setting-dropdown" (clickOutside)="outSideClose()">
                        <div class=" btn-group custom-dropdown arrow-none dropdown-sm">
                            <a class="d-flex" href="javascript:void(0)" [class.show]="isShow" (click)="isShow = !isShow">
                                <app-feather-icon [icons]="'sun'" [class]="'icon-dark stroke-width-3 iw-12 ih-12'"></app-feather-icon>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right custom-dropdown" [class.show]="isShow" 
                            style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 14px);">
                                <ul>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <app-feather-icon [icons]="'edit'" [class]="'icon-font-light iw-16 ih-16'"></app-feather-icon>change city</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <app-feather-icon [icons]="'settings'" [class]="'icon-font-light iw-16 ih-16'"></app-feather-icon>setting</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-sec">
                <table class="table table-hover">
                    <tbody>
                        @for (item of topFiveGames; track item) {
                        <tr>
                            <td>
                                <div class="media">
                                    <div class="img-sec" 
                                    [ngStyle]="{'background-image': 'url(' +  item.image  + ')'}"
                                    style="background-size: cover; background-position: center center; background-repeat: no-repeat; display: block;">
                                        <img [src]="item.image" class="img-fluid  bg-img" alt="user" style="display: none;">
                                    </div>
                                    <div class="media-body">
                                        <h5>{{item.gameName}}</h5>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h6>{{item.type}}</h6>
                            </td>
                            <td>
                                <h5 class="d-flex align-items-center">
                                    <app-feather-icon [icons]="'user'" [class]="'me-1 iw-16 ih-16'"></app-feather-icon>
                                    {{item.user}}</h5>
                            </td>
                            <td>
                                <div class="favourite-btn" [class.active]="item.active" (click)="active(item)">
                                    <app-feather-icon [icons]="'heart'" [class]="'icon-dark iw-14 ih-14'"></app-feather-icon>
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <app-event-section [class]="class"></app-event-section>
    </div>
</div>