<div class="slide-8 no-arrow default-space">
    <div class="story-content-box">
        <div class="story-box">
            <div class="story-bg bg-size">
            </div>
        </div>
    </div>
    <div class="story-content-box">
        <div class="story-box">
            <div class="story-bg bg-size">
            </div>
        </div>
    </div>
    <div class="story-content-box">
        <div class="story-box">
            <div class="story-bg bg-size">
            </div>
        </div>
    </div>
    <div class="story-content-box">
        <div class="story-box">
            <div class="story-bg bg-size">
            </div>
        </div>
    </div>
    <div class="story-content-box">
        <div class="story-box">
            <div class="story-bg bg-size">
            </div>
        </div>
    </div>
    <div class="story-content-box">
        <div class="story-box">
            <div class="story-bg bg-size">
            </div>
        </div>
    </div>
    <div class="story-content-box">
        <div class="story-box">
            <div class="story-bg bg-size">
            </div>
        </div>
    </div>
    <div class="story-content-box">
        <div class="story-box">
            <div class="story-bg bg-size">
            </div>
        </div>
    </div>
</div>