<header>
    <app-header-one-skeleton></app-header-one-skeleton>
</header>
<div class="page-body container-fluid custom-padding game-page">
    <div class="sidebar-panel">
        <app-sidebar-one-skeleton></app-sidebar-one-skeleton>
    </div>
    <div class="page-center">
        <div class="event-cover light-cover">
            <div class="event-img">
            </div>
        </div>
        <div class="event-category music-slider-section section-t-space">
            <div class=" event-title">
                <div class="content">
                    <h3></h3>
                    <h6></h6>
                </div>
            </div>
            <div class="col-10 suggestion-box">
                <div class="music-slider ratio_115 no-arrow default-space">
                    <div class="story-game-box">
                        <div class="story-box">
                            <div class="story-bg bg-size"></div>
                        </div>
                    </div>
                    <div class="story-game-box">
                        <div class="story-box">
                            <div class="story-bg bg-size"></div>
                        </div>
                    </div>
                    <div class="story-game-box">
                        <div class="story-box">
                            <div class="story-bg bg-size"></div>
                        </div>
                    </div>
                    <div class="story-game-box">
                        <div class="story-box">
                            <div class="story-bg bg-size"></div>
                        </div>
                    </div>
                    <div class="story-game-box">
                        <div class="story-box">
                            <div class="story-bg bg-size"></div>
                        </div>
                    </div>
                    <div class="story-game-box">
                        <div class="story-box">
                            <div class="story-bg bg-size"></div>
                        </div>
                    </div>
                    <div class="story-game-box">
                        <div class="story-box">
                            <div class="story-bg bg-size"></div>
                        </div>
                    </div>
                    <div class="story-game-box">
                        <div class="story-box">
                            <div class="story-bg bg-size"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid section-b-space section-t-space px-0">
            <div class="page-content row">
                <div class="content-center col-6">
                    <div class="playlist-sec">
                        <div class="card-title">
                            <h3></h3>
                            <div class="settings">
                                <div class="setting-btn"></div>
                            </div>
                        </div>
                        <div class="table-sec">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="media">
                                                <div class="img-sec"></div>
                                                <div class="media-body">
                                                    <h5></h5>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <h6></h6>
                                        </td>
                                        <td>
                                            <h5 class="d-flex align-items-center"></h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="media">
                                                <div class="img-sec"></div>
                                                <div class="media-body">
                                                    <h5></h5>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <h6></h6>
                                        </td>
                                        <td>
                                            <h5 class="d-flex align-items-center"></h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="media">
                                                <div class="img-sec"></div>
                                                <div class="media-body">
                                                    <h5></h5>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <h6></h6>
                                        </td>
                                        <td>
                                            <h5 class="d-flex align-items-center"></h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="media">
                                                <div class="img-sec"></div>
                                                <div class="media-body">
                                                    <h5></h5>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <h6></h6>
                                        </td>
                                        <td>
                                            <h5 class="d-flex align-items-center"></h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="media">
                                                <div class="img-sec"></div>
                                                <div class="media-body">
                                                    <h5></h5>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <h6></h6>
                                        </td>
                                        <td>
                                            <h5 class="d-flex align-items-center"></h5>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="content-center col-6">
                    <div class="event-section overflow-hidden">
                        <div class="event_category no-arrow default-space">
                            <div class="event-skeleton-box">
                                <div class="event-box ratio2_3">
                                    <div class="image-section bg-size">
                                        <div class="card-title">
                                            <h3></h3>
                                            <div class="settings">
                                                <div class="setting-btn"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="event-content">
                                        <h3></h3>
                                        <h6></h6>
                                        <p></p>
                                        <div class="bottom-part">
                                            <div class="btn ldr-btn"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="event-skeleton-box">
                                <div class="event-box ratio2_3">
                                    <div class="image-section bg-size">
                                        <div class="card-title">
                                            <h3></h3>
                                            <div class="settings">
                                                <div class="setting-btn"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="event-content">
                                        <h3></h3>
                                        <h6></h6>
                                        <p></p>
                                        <div class="bottom-part">
                                            <div class="btn ldr-btn"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="event-skeleton-box">
                                <div class="event-box ratio2_3">
                                    <div class="image-section bg-size">
                                        <div class="card-title">
                                            <h3></h3>
                                            <div class="settings">
                                                <div class="setting-btn"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="event-content">
                                        <h3></h3>
                                        <h6></h6>
                                        <p></p>
                                        <div class="bottom-part">
                                            <div class="btn ldr-btn"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="conversation-panel xl-light">
        <app-conversation-panel-skeleton></app-conversation-panel-skeleton>
    </div>
</div>
