
<header>
    <app-header-one-skeleton></app-header-one-skeleton>
 </header>
 

<div class="page-body container-fluid newsfeed-style5">
    <div class="sidebar-panel panel-lg sidebar-light">
        <app-sidebar-three-skeleton></app-sidebar-three-skeleton>
    </div>
    
    <div class="page-center">
        <div class="story-section ratio_115">
            <app-story-skeleton></app-story-skeleton>
        </div>
        <div class="container-fluid section-t-space px-0">
            <div class="page-content">
                <div class="content-center">
                    <div class="create-post">
                        <app-create-post-skeleton></app-create-post-skeleton>
                    </div>
                    <div class="overlay-bg"></div>
                    <div class="post-panel infinite-loader-sec section-t-space">
                        <app-post-panel-skeleton></app-post-panel-skeleton>
                    </div>
                </div>
                <div class="content-left">
                    <div class="birthday-section bg-size">
                        <app-birthday-reminder-skeleton></app-birthday-reminder-skeleton>
                    </div>
                    <div class="gallery-section section-t-space">
                        <app-gallery-section-skeleton></app-gallery-section-skeleton>
                    </div>
                    <div class="page-list section-t-space">
                        <app-like-page-skeleton></app-like-page-skeleton>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="conversation-panel">
        <app-conversation-panel-skeleton></app-conversation-panel-skeleton>
    </div>
</div>
