<div class="birthday-top">
    <div class="title">
        <h3></h3>
        <h6></h6>
    </div>
</div>
<div class="birthday-content">
    <div class="image-section">
        <div class="icon">
        </div>
        <div class="center-profile">
        </div>
        <div class="icon">
        </div>
    </div>
    <div class="details">
        <h3></h3>
        <h6></h6>
        <div class="ldr-p">
            <p></p>
            <p></p>
        </div>
        <form>
            <input type="text" class="form-control">
        </form>
    </div>
</div>