<header>
    <app-header-one-skeleton></app-header-one-skeleton>
</header>
<div class="page-body container-fluid custom-padding favourite-page-body">
    <div class="sidebar-panel">
        <app-sidebar-one-skeleton></app-sidebar-one-skeleton>
    </div>
    <div class="page-center">
        <div class="page-cover">
            <div class="cover-img bg-size"> </div>
            <div class="cover-content">
                <div class="page-logo">
                </div>
                <a href="javascript:void(0)" class="page-name">
                    <h4></h4>
                    <h6></h6>
                </a>
                <div class="page-stats">
                    <ul>
                        <li>
                            <h2></h2>
                            <h6></h6>
                        </li>
                        <li>
                            <h2></h2>
                            <h6></h6>
                        </li>
                        <li>
                            <h2></h2>
                            <h6></h6>
                        </li>
                        <li>
                            <h2></h2>
                            <h6></h6>
                        </li>
                        <li>
                            <h2></h2>
                            <h6></h6>
                        </li>
                    </ul>
                </div>
                <div class="social-btn">
                    <ul>
                        <li class="facebook"></li>
                        <li class="twitter"></li>
                        <li class="whatsapp"></li>
                        <li class="instagram"></li>
                        <li class="youtube"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="profile-menu section-t-space">
            <ul>
                <li class="active"></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <ul class="right-menu d-xl-flex d-none">
                <li></li>
            </ul>
        </div>
        <div class="container-fluid section-t-space px-0">
            <div class="row">
                <div class="col-4">
                    <div class="sticky-top">

                        <div class="profile-about pages-about section-b-space">
                            <div class="card-title">
                                <h3></h3>
                                <div class="settings">
                                    <div class="setting-btn">
                                    </div>
                                </div>
                            </div>
                            <div class="about-content">
                                <ul>
                                    <li>
                                        <div class="details">
                                            <h4></h4>
                                            <h6></h6>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="details">
                                            <h4></h4>
                                            <h6></h6>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="details">
                                            <h4></h4>
                                            <h6></h6>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="details">
                                            <h4></h4>
                                            <h6></h6>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="details">
                                            <h4></h4>
                                            <h6></h6>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-8">

                    <div class="about-profile section-b-space">
                        <div class="card-title">
                            <h3></h3>
                        </div>
                        <ul class="about-list">
                            <li>
                                <h5 class="title"></h5>
                                <h6 class="content"></h6>
                            </li>
                            <li>
                                <h5 class="title"></h5>
                                <h6 class="content"></h6>
                            </li>
                            <li>
                                <h5 class="title"></h5>
                                <h6 class="content"> </h6>
                            </li>
                            <li>
                                <h5 class="title"></h5>
                                <h6 class="content"></h6>
                            </li>
                            <li>
                                <h5 class="title"></h5>
                                <h6 class="content"></h6>
                            </li>
                            <li>
                                <h5 class="title"></h5>
                                <h6 class="content"> </h6>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="conversation-panel xl-light">
        <app-conversation-panel-skeleton></app-conversation-panel-skeleton>
    </div>

</div>