<div class="activity-list section-t-space">
    <div class="card-title">
        <h3>activity feed</h3>
        <div class="settings">  
            <div class="setting-btn">
                <a href="javascript:void(0)" class="d-flex">
                     <app-feather-icon [icons]="'rotate-cw'" [class]="'icon icon-theme stroke-width-3 iw-11 ih-11'"></app-feather-icon>
                </a>
            </div>
            <div class="setting-btn ms-2 setting-dropdown" (clickOutside)="outSideClose()">
                <div class=" btn-group custom-dropdown arrow-none dropdown-sm" >
                    <a href="javascript:void(0)" [class.show]="isShow" (click)="isShow =!isShow">
                        <app-feather-icon [icons]="'sun'" [class]="'icon-dark stroke-width-3 icon iw-11 ih-11'"></app-feather-icon>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right custom-dropdown" [class.show]="isShow" 
                    style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 23px);">
                        <ul>
                            <li>
                                <a href="javascript:void(0)">
                                    <app-feather-icon [class]="'icon-font-light iw-16 ih-16'" [class]="'edit'"></app-feather-icon>see all</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <app-feather-icon [class]="'icon-font-light iw-16 ih-16'" [class]="'search'"></app-feather-icon>find page</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <app-feather-icon [class]="'icon-font-light iw-16 ih-16'" [class]="'settings'"></app-feather-icon>settings</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="activity-content">
        <ul>
            @for (item of activityFeed; track item) {
                <li>
                    <div class="media">
                        <div class="img-part bg-size" 
                        [ngStyle]="{'background-image': 'url(' +  item.image  + ')'}"
                        style="background-size: cover; background-position: center center; background-repeat: no-repeat; display: block;">
                            <img [src]="item.image" class="img-fluid bg-img" alt="" style="display: none;">
                        </div>
                        <div class="media-body">
                            <h4>{{item.title}} <span>{{item.span}}</span> photo</h4>
                            <h6>{{item.time}}</h6>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>