<img src="assets/images/company-landing/home-bg.jpg" class="img-fluid bg-img" alt="" style="display: none;">
<div class="home-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 order-lg-2">
                <div class="content-screen">
                    <div class="main-screen">
                        <img src="assets/images/company-landing/home-laptop.png" alt="" class="img-fluid wow zoomIn">
                    </div>
                    <div class="home-effect">
                        <img src="assets/images/company-landing/home-effect/1.png" alt=""
                            class="img-fluid user wow zoomIn">
                        <img src="assets/images/company-landing/home-effect/2.png" alt=""
                            class="img-fluid user-round wow zoomIn">
                        <img src="assets/images/company-landing/home-effect/3.png" alt=""
                            class="img-fluid heart wow zoomIn">
                    </div>
                </div>
            </div>
            <div class="col-lg-5 order-lg-1">
                <div class="content">
                    <div>
                        <h1>easy to talk with <span>friends</span></h1>
                        <p>Friendbook is an online platform that allows users to create a public profile and
                            interact with friends, family, colleagues, customers, or clients.</p>
                        <a href="javascript:void(0)" class="btn btn-solid btn-lg">get started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="animation-home">
    <div class="cross"></div>
    <div class="cross cross1"></div>
    <div class="tringle"></div>
    <div class="tringle tringle1"></div>
    <div class="circle"></div>
    <div class="circle circle1"></div>
</div>