import React, { useState } from 'react';
import { createRoot } from 'react-dom/client';

const [selectedValue, setSelectedValue] = useState('');

const handleChange = (event) => {
setSelectedValue(event.target.value);
};
const options = [
{value: 'red', label: 'red'},
{value: 'blue', label: 'blue'},
{value: 'green', label: 'green'}
];

function ColorSelector() {

return (
<>
<select value = {selectedValue} onChange = {handleChange} >
{options.map((option) => (
<option key = {option.value}
        value = {option.value}>
    {option.value}
</option>
))}



<select/>
<p> The color is {selectedValue}</p>



</>
);
}


const container = document.getElementById('root');
const root = createRoot(container);
root.render(<ColorSelector />);
