<div class="birthday-section event-sec" style="background-image: url(assets/images/event-bg.jpg);
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
display: block;">
    <img src="assets/images/event-bg.jpg" class="img-fluid bg-img" alt="birthday" style="display: none;">
    <div class="birthday-top">
        <div class="title">
            <h3>college meet</h3>
            <h6>today your collge group meeting</h6>
        </div>
        <div class="setting">
            <div class="setting-btn light-btn">
                <a href="javascript:void(0)" class="d-flex">
                    <app-feather-icon [class]="'icon icon-light stroke-width-3 iw-11 ih-11'"
                        [icons]="'rotate-cw'"></app-feather-icon>
                </a>
            </div>
            <div class="setting-btn light-btn ms-2 setting-dropdown" (clickOutside)="outSideClose()">
                <div class="btn-group custom-dropdown arrow-none dropdown-sm">
                    <a class="d-flex" href="javascript:void(0)" [class.show]="isShow" (click)="isShow = !isShow">
                        <app-feather-icon [icons]="'sun'"
                            [class]="'icon-light stroke-width-3 iw-12 ih-12'"></app-feather-icon>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right custom-dropdown" [class.show]="isShow"
                        style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(-148px, 14px);">
                        <ul>
                            <li>
                                <a href="javascript:void(0)">
                                    <app-feather-icon [icons]="'edit'"
                                        [class]="'icon-font-light iw-16 ih-16'"></app-feather-icon>
                                    edit profile</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <app-feather-icon [icons]="'user'"
                                        [class]="'icon-font-light iw-16 ih-16'"></app-feather-icon>
                                    view profile</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="birthday-content">
        <div class="image-section">
            <div class="event-group">
                @for (item of collegeMeet; track item) {
                <div class="center-profile bg-size" [ngStyle]="{'background-image': 'url(' +  item.url + ')'}"
                    style="background-size: cover; background-position: center center; background-repeat: no-repeat; display: block;">
                    <img [src]="item.url" class="img-fluid  bg-img" alt="user" style="display: none;">
                </div>
                }
            </div>
        </div>
        <div class="details">
            <h3>
                <app-feather-icon [class]="'icon-light me-2 stroke-width-3 iw-12 ih-12'"
                [icons]="'user'"></app-feather-icon>
                56
                people
            </h3>
            <h6>glasgow, scotland</h6>
            <p>Lorem 5th Sept 2019 dummy text of the printing and typesetting industry.
            </p>
            <form>
                <input type="text" placeholder="send invitation" class="form-control">
                <button type="submit">
                    <app-feather-icon [class]="'icon-light icon stroke-width-3 iw-13 ih-13'" [icons]="'arrow-right'"></app-feather-icon>
                </button>
            </form>
        </div>
    </div>
</div>