<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card-header">
                <h4>Naming a source</h4>
                <span>Add a <code class="highlighter-rouge">&lt;footer class="blockquote-footer"&gt;</code>
                    for identifying the source. Wrap the name of the source work in <code
                        class="highlighter-rouge">&lt;cite&gt;</code>.</span>
            </div>
            <div class="card-body">
                <blockquote class="blockquote">
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere
                        erat a ante.</p>
                    <footer class="blockquote-footer pb-0 mt-0">Someone famous in <cite
                            title="Source Title">Source
                            Title</cite></footer>
                </blockquote>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card-header">
                <h4>social icons</h4>
                <span>frienbook have used font awesome 5 icons here, you can also use different
                    icons.</span>
            </div>
            <div class="card-body">
                <div class="social-section">
                    <ul class="d-flex">
                        <li><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fab fa-google-plus-g"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fas fa-rss"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>