<div class="post-details">
    @if (postData.postImage || postData.carousel || postData.gallerySrc || postData.isUrl || postData.isMap) {
    <div class="img-wrapper">
        @if(postData.postImage && !postData.video){
        <img [src]="postData.postImage" class="img-fluid " alt="">
        }@else if(postData.postImage && postData.video){
        <img [src]="postData.postImage" class="img-fluid " alt="">
        <div class="controler">
            <a href="javascript:void(0)" class="play" (click)="commonService.videoPlay(postData.video)">
                <app-feather-icon [icons]="'play-circle'" [class]="'iw-50 ih-50'"></app-feather-icon>
            </a>
            <div class="duration">
                <h6>06:20</h6>
            </div>
            <a href="javascript:void(0)" class="volume">
                <app-feather-icon [icons]="'volume-2'" [class]="'iw-14 ih-14'"></app-feather-icon>
            </a>
        </div>
        }@else if (postData.isUrl) {
        <div style="width:100%;height:0;padding-bottom:77%;position:relative;">
            @if(postData.isUrl){
            <iframe [src]="sanitizedUrl" style="position:absolute" class="giphy-embed w-100 h-100" allowFullScreen></iframe>
            }
        </div>
        }@else if (postData.carousel) {
        <div class="slider-section">
            <div class="newsfeed1-slide ratio_landscape default-space no-arrow">
                <owl-carousel-o [options]="storyOptions">
                    @for (items of postData.carousel; track items) {
                    <ng-template carouselSlide>
                        <div>
                            <div class="slider-wrapper">
                                <a href="javascript:void(0)" class="img-part">
                                    <div class="image bg-size"
                                        [ngStyle]="{'background-image': 'url(' +  items.src  + ')'}"
                                        style="background-size: cover; background-position: center center; background-repeat: no-repeat; display: block;">
                                        <img [src]="items.src" class="img-fluid  bg-img" alt="img"
                                            style="display: none;">
                                    </div>
                                    @if(items.discount){
                                    <div class="label-ribbon"><span>discount</span></div>
                                    }
                                </a>
                                <div class="slider-content">
                                    <h5><span>{{items.title}}</span>{{items.desc}}</h5>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    }
                </owl-carousel-o>
            </div>
        </div>
        }@else if(postData.gallerySrc){
        <app-gallery-section [data]="postData.gallerySrc"></app-gallery-section>
        }@else if(postData.isMap){
        <app-google-map></app-google-map>
        }
    </div>
    }
    <app-detail-box [data]="postData"></app-detail-box>
    <div class="like-panel">
        <app-like-panel></app-like-panel>
    </div>
    <app-post-react [data]="postData"></app-post-react>
</div>