
<header>
    <app-header-one-skeleton></app-header-one-skeleton>
</header>

    
    <div class="page-body container-fluid custom-padding profile-page profile-page-friend">

            <div class="sidebar-panel">
            <div class="main-icon">
                <a href="javascript:void(0)">
                    <i data-feather="grid" class="bar-icon"></i>
                </a>
            </div>
            <ul class="sidebar-icon">
                <li>
                    <a href="jascript:void(0)" class="tippy" title="Newsfeed">
                        <i data-feather="file" class="bar-icon"></i>
                    </a>
                </li>
                <li>
                    <a href="jascript:void(0)" class="tippy" title="Favourite">
                        <i data-feather="star" class="bar-icon"></i>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" class="tippy" title="Groups">
                        <i data-feather="users" class="bar-icon"></i>
                    </a>
                </li>
                <li>
                    <a href="jascript:void(0)" class="tippy" title="Music">
                        <i data-feather="headphones" class="bar-icon"></i>
                    </a>
                </li>
                <li>
                    <a href="jascript:void(0)" class="tippy" title="Weather">
                        <i data-feather="cloud" class="bar-icon"></i>
                    </a>
                </li>
                <li>
                    <a href="jascript:void(0)" class="tippy" title="Event & Calender">
                        <i data-feather="calendar" class="bar-icon"></i>
                    </a>
                </li>
                <li>
                    <a href="jascript:void(0)" class="tippy" title="Birthday">
                        <svg class="bar-icon fill-white">
                            <use xlink:href="assets/svg/icons.svg#cake"></use>
                        </svg>
                    </a>
                </li>
                <li class="inner-list">
                    <a href="jascript:void(0)" class="tippy" title="Games">
                        <svg class="bar-icon fill-white">
                            <use xlink:href="assets/svg/icons.svg#game-controller"></use>
                        </svg>
                    </a>
                    <span class="count">2</span>
                    <ul>
                        <li>
                            <a href="javascript:void(0)"><img src="assets/images/icon/game/1.jpg" alt=""></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><img src="assets/images/icon/game/2.jpg" alt=""></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><img src="assets/images/icon/game/3.jpg" alt=""></a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="main-icon">
                <a href="javascript:void(0)">
                    <i data-feather="power" class="bar-icon"></i>
                </a>
            </div>
        </div>
        <div class="page-center">
            <div class="profile-cover bg-size">
                <div class="profile-box d-lg-block d-none">
                    <div class="profile-content">
                        <div class="image-section">
                            <div class="profile-img">
                                <div class="bg-loader"></div>
                            </div>
                        </div>
                        <div class="profile-detail">
                            <h2></h2>
                            <h5></h5>
                            <div class="counter-stats">
                                <div class="counter-stats">
                                    <span></span>
                                </div>
                            </div>
                            <div class="ldr-btn btn"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-lg-none d-block">
                <div class="profile-box">
                    <div class="profile-content">
                        <div class="image-section">
                            <div class="profile-img">
                                <div class="bg-loader"></div>
                            </div>
                        </div>
                        <div class="profile-detail">
                            <h2></h2>
                            <h5></h5>
                            <div class="counter-stats">
                                <span></span>
                            </div>
                            <div class="ldr-btn btn"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-menu section-t-space">
                <ul>
                    <li>
                    </li>
                    <li>
                    </li>
                    <li>
                    </li>
                    <li>
                    </li>
                    <li class="d-xl-none d-inline-block">
                    </li>
                </ul>
                <ul class="right-menu d-xl-flex d-none">
                    <li>
                    </li>
                    <li>
                    </li>
                </ul>
            </div>
            <div class="container-fluid section-t-space px-0">
                <div class="page-content">
                    <div class="content-left col-5">
                        <div class="activity-list actitvity-page">
                            <div class="card-title">
                                <h3></h3>
                                <div class="settings">
                                    <div class="setting-btn">
                                        <a href="javascript:void(0)" class="d-flex">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="activity-content">
                                <div class="activity-title">
                                    <h4></h4>
                                </div>
                                <ul>
                                    <li>
                                        <div class="media">
                                            <div class="img-part"> </div>
                                            <div class="media-body">
                                                <h4></h4>
                                                <h6></h6>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media">
                                            <div class="img-part"> </div>
                                            <div class="media-body">
                                                <h4></h4>
                                                <h6></h6>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media">
                                            <div class="img-part"> </div>
                                            <div class="media-body">
                                                <h4></h4>
                                                <h6></h6>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media">
                                            <div class="img-part"> </div>
                                            <div class="media-body">
                                                <h4></h4>
                                                <h6></h6>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media">
                                            <div class="img-part"> </div>
                                            <div class="media-body">
                                                <h4></h4>
                                                <h6></h6>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="activity-title">
                                    <h4></h4>
                                </div>
                                <ul>
                                    <li>
                                        <div class="media">
                                            <div class="img-part"> </div>
                                            <div class="media-body">
                                                <h4></h4>
                                                <h6></h6>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media">
                                            <div class="img-part"> </div>
                                            <div class="media-body">
                                                <h4></h4>
                                                <h6></h6>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="content-center col-7 d-none d-xl-block">
                        <div class="post-panel">
                            <div class="post-wrapper col-grid-box">
                                <div class="post-title">
                                    <div class="profile">
                                        <div class="media">
                                            <div class="user-img">
                                            </div>
                                            <div class="media-body">
                                                <h5></h5>
                                                <h6></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-details ratio2_1">
                                    <div class="img-wrapper bg-size">
                                    </div>
                                    <div class="detail-box">
                                        <h3></h3>
                                        <h5 class="tag"></h5>
                                        <div class="ldr-p">
                                            <p></p>
                                            <p></p>
                                        </div>
                                        <div class="bookmark favourite-btn">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="conversation-panel xl-light">
            <app-conversation-panel-skeleton></app-conversation-panel-skeleton>        
        </div>
    
    </div>
    