<div class="main-icon">
    <a href="javascript:void(0)">
        <div class="bar-icon-img"></div>
        <h4></h4>
    </a>
</div>
<ul class="sidebar-icon">
    <li>
        <a href="javascript:void(0)">
            <div class="bar-icon-img"></div>
            <h4></h4>
        </a>
    </li>
    <li>
        <a href="javascript:void(0)">
            <div class="bar-icon-img"></div>
            <h4></h4>
        </a>
    </li>
    <li>
        <a href="javascript:void(0)">
            <div class="bar-icon-img"></div>
            <h4></h4>
        </a>
    </li>
    <li>
        <a href="javascript:void(0)">
            <div class="bar-icon-img"></div>
            <h4></h4>
        </a>
    </li>
    <li>
        <a href="javascript:void(0)">
            <div class="bar-icon-img"></div>
            <h4></h4>
        </a>
    </li>
    <li>
        <a href="javascript:void(0)">
            <div class="bar-icon-img"></div>
            <h4></h4>
        </a>
    </li>
    <li>
        <a href="javascript:void(0)">
            <div class="bar-icon-img"></div>
            <h4></h4>
        </a>
    </li>
    <li>
        <a href="javascript:void(0)">
            <div class="bar-icon-img"></div>
            <h4></h4>
        </a>
    </li>
    <li>
        <a href="javascript:void(0)">
            <div class="bar-icon-img"></div>
            <h4></h4>
        </a>
    </li>
    <li>
        <a href="javascript:void(0)">
            <div class="bar-icon-img"></div>
            <h4></h4>
        </a>
    </li>
    <li>
        <a href="javascript:void(0)">
            <div class="bar-icon-img"></div>
            <h4></h4>
        </a>
    </li>
</ul>
<div class="main-icon">
    <a href="javascript:void(0)">
        <div class="bar-icon-img"></div>
        <h4></h4>
    </a>
</div>