<div class="container">
    <div class="row">
        <div class="col-lg-9 order-lg-1 order-2">
            <div class="career-about">
                <h2 class="mb-4">Marketing Analyst</h2>
                <div class="career-img bg-size" style="background-image: url(assets/images/company.jpg);background-size: cover;background-position: center center;background-repeat: no-repeat;display: block;">
                    <img src="assets/images/company.jpg" class="img-fluid bg-img" alt="" style="display: none;">
                </div>
                <div class="career-content">
                    <div class="content-title">
                        <h5>about Company</h5>
                    </div>
                    <div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                            Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                            unknown printer took a galley of type and scrambled it to
                            make a type specimen book. It has survived not only five centuries, but also the
                            leap into electronic typesetting, remaining essentially unchanged. It was
                            popularised in the 1960s with the release of Letraset sheets
                            containing Lorem Ipsum passages, and more recently with desktop publishing software
                            like Aldus PageMaker including versions of Lorem Ipsum
                        </p>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classical Latin literature from 45 BC, making it over 2000 years old.
                            Richard McClintock, a Latin professor at Hampden-Sydney
                            College in Virginia, looked up one of the more obscure Latin words, consectetur,
                            from a Lorem Ipsum passage, and going through the cites of the word in classical
                            literature, discovered the undoubtable source. Lorem
                            Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum"</p>
                    </div>
                    <div class="content-title">
                        <h5>Number of positions currently vacant:</h5>
                    </div>
                    <div>
                        <h4 class="mb-3">10</h4>
                    </div>
                    <div class="content-title">
                        <h5>Job description:</h5>
                    </div>
                    <div>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classical Latin literature from 45 BC, making it over 2000 years old.
                            Richard McClintock, a Latin professor at Hampden-Sydney
                            College in Virginia, looked up one of the more obscure Latin words, consectetur,
                            from a Lorem Ipsum passage, and going through the cites of the word in classical
                            literature, discovered the undoubtable source. Lorem
                            Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum"</p>
                    </div>
                    <div class="content-title">
                        <h5>Key job responsibilities::</h5>
                    </div>
                    <div>
                        <ul>
                            <li>Perform valid and reliable market research SWOT analysis</li>
                            <li>Utilize online market research and catalog findings to databases</li>
                            <li>Devise and evaluate methods for collecting data (Surveys, Questionnaires,
                                Opinion Polls)</li>
                            <li>Formulate a plan and present it to senior management or a client</li>
                            <li>Interpret data, formulate reports and make recommendations</li>
                            <li>Gather and analyze statistical data using modern and traditional methods to
                                collect it</li>
                            <li>Design specific research methods such as questionnaires</li>
                            <li>Remain fully informed on market trends, other parties researches and implement
                                best practices</li>
                        </ul>
                    </div>
                    <div class="content-title">
                        <h5>Location::</h5>
                    </div>
                    <div>
                        <p>London, united kingdom</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 order-lg-2 order-1">
            <app-apply-here></app-apply-here>
        </div>
    </div>
</div>