
<header>
    <app-header-one-skeleton></app-header-one-skeleton>
</header>


<div class="page-body container-fluid custom-padding">
    <div class="sidebar-panel">
        <app-sidebar-one-skeleton></app-sidebar-one-skeleton>
    </div>
    
    <div class="page-center page-lg">
        <div class="story-section ratio_115">
            <app-story-skeleton></app-story-skeleton>
        </div>
        <div class="container-fluid section-t-space px-0 layout-threecolumn">
            <div class="page-content">
                <div class="content-left">
                    <div class="profile-box">
                        <app-profile-box-skeleton></app-profile-box-skeleton>

                    </div>
                    <div class="birthday-section bg-size section-t-space">
                        <app-birthday-reminder-skeleton></app-birthday-reminder-skeleton>
                    </div>
                    <div class="gallery-section section-t-space">
                        <app-gallery-section-skeleton></app-gallery-section-skeleton>
                    </div>
                </div>
                <div class="content-center content-full">
                    <div class="row">
                        <div class="col-xl-6">
                                    <div class="create-post">
                                <app-create-post-skeleton></app-create-post-skeleton>
                            </div>
                            <div class="overlay-bg"></div>
                            <div class="post-panel section-t-space">
                                <app-post-panel-skeleton></app-post-panel-skeleton>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="post-panel">
                                <app-post-panel-skeleton></app-post-panel-skeleton>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="conversation-panel panel-xs">
        <app-conversation-panel-skeleton></app-conversation-panel-skeleton>        

    </div>

</div>
