<div class="post-details">
    <div class="img-wrapper">
        <div class="slider-section">
            <div class="friend-slide ratio_landscape default-space no-arrow">
                <owl-carousel-o [options]="storyDataOptions">
                    @for (item of addFriendCarousel; track item) {
                    <ng-template carouselSlide>
                        <div>
                            <div class="profile-box friend-box">
                                <div class="profile-content">
                                    <div class="image-section">
                                        <div class="profile-img">
                                            <div [ngStyle]="{'background-image': 'url(' +  item.image  + ')'}" style="  background-size: cover;
                                                background-position: center center;
                                                background-repeat: no-repeat;
                                                display: block;">
                                                <img [src]="item.image" class="img-fluid  bg-img"
                                                    alt="profile" style="display: none;">
                                            </div>
                                            <span class="stats">
                                                <img src="assets/images/icon/verified.png"
                                                    class="img-fluid " alt="verified">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="profile-detail">
                                        <h2>{{item.uname}} <span>❤</span></h2>
                                        <div class="counter-stats">
                                            <ul>
                                                <li>
                                                    <h3 class="counter-value">{{item.following}}</h3>
                                                    <h5>following</h5>
                                                </li>
                                                <li>
                                                    <h3 class="counter-value">{{item.followers}}</h3>
                                                    <h5>followers</h5>
                                                </li>
                                            </ul>
                                        </div>
                                        <a [routerLink]="['/profile/friend-profile']" class="btn btn-outline">add friend</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    }
                </owl-carousel-o>
            </div>
        </div>
    </div>
</div>