<div class="container">
    <div class="row">
        <div class="col-lg-5">
            <div class="left-part">
                <div>
                    <div class="contact-img">
                        <img src="assets/svg/contact.svg" class="img-fluid" alt="">
                    </div>
                    <div class="contact-detail">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="detail-box">
                                    <h4>
                                        <i class="iw-18 ih-18" data-feather="map-pin"></i> address
                                    </h4>
                                    <p>549 Sulphur Springs Road</p>
                                    <p>Downers Grove, IL 60515</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="detail-box">
                                    <h4>
                                        <i class="iw-18 ih-18" data-feather="phone-call"></i> phone
                                    </h4>
                                    <p>+91 123 - 456 - 7890</p>
                                    <p>+86 163 - 451 - 7894</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="detail-box">
                                    <h4>
                                        <i class="iw-18 ih-18" data-feather="mail"></i> Email
                                    </h4>
                                    <p>support"&#64;"friendbook.com</p>
                                    <p>info"&#64;"rica.com</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="detail-box">
                                    <h4>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-map-pin iw-18 ih-18">
                                            <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path>
                                            <circle cx="12" cy="10" r="3"></circle>
                                        </svg> Other Branch
                                    </h4>
                                    <p>549 Sulphur Springs Road</p>
                                    <p>Downers Grove, IL 60515</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card p-4">
                <div class="title">
                    <h2>we're always happy to help you</h2>
                    <p>looking for anything else? reach us by fill this form</p>
                </div>
                <form class="theme-form form-sm">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>first name</label>
                            <input type="text" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group col-md-6">
                            <label>last name</label>
                            <input type="text" class="form-control" placeholder="Password">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Email</label>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Phone Number</label>
                            <input type="number" class="form-control" placeholder="Phone number">
                        </div>
                        <div class="form-group col-12">
                            <label>Pick Topic</label>
                            <select id="inputState" class="form-control">
                                <option selected="">Privacy</option>
                                <option>login</option>
                                <option>account</option>
                            </select>
                        </div>
                        <div class="form-group col-md-12">
                            <label>Message</label>
                            <textarea rows="6" class="form-control" placeholder="Write Your Message"></textarea>
                        </div>
                    </div>
                    <div class="text-right">
                        <a href="javascript:void(0)" class="btn btn-solid">send message</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>