<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="intro-part">
                <div class="title">
                    <h2>don't be strange! reach us</h2>
                    <p>looking for anything else? reach us by fill this form</p>
                </div>
                <div class="contact-img">
                    <img src="assets/svg/help-topics/contact.svg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <form class="theme-form row">
                <div class="col-md-6 form-group mb-3">
                    <label>Your name</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-md-6 form-group mb-3">
                    <label>Email address</label>
                    <input type="email" class="form-control">
                </div>
                <div class="col-md-12 form-group mb-3">
                    <label>Subject</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-md-12 form-group mb-0">
                    <label class="d-block">Messages</label>
                    <textarea class="form-control" rows="6"></textarea>
                </div>
                <div class="col-12 mt-4 text-right">
                    <button type="button" class="btn btn-solid btn-lg">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>