
<div class="coming-soon bg-size"
    style="background-image: url(assets/images/breadcrumb.jpg);background-size: cover;background-position: center center;background-repeat: no-repeat;display: block;">
    <img src="assets/images/breadcrumb.jpg" alt="" class="img-fluid bg-img" style="display: none;">
    <div class="object">
        <div class="object-rope"></div>
        <div class="object-shape">
            Coming <span class="soon">Soon</span>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="m-auto col-lg-6">
                <div class="coming-soon-detail">
                    <div>
                        <div class="logo">
                            <a href="javascript:void(0)">
                                <img src="assets/images/icon/logo-color2.png" alt="" class="img-fluid">
                            </a>
                        </div>
                        <h2>
                            Will be Opening Soon!
                        </h2>
                        <div class="timer">
                            <ul>
                                <li><span id="days"></span>days</li>
                                <li><span id="hours"></span>Hour</li>
                                <li><span id="minutes"></span>min</li>
                                <li><span id="seconds"></span>sec</li>
                            </ul>
                        </div>
                        <form class="theme-form">
                            <input type="text" name="password" placeholder="Enter your email" id="name"
                                class="form-control" autofocus="">
                            <div class="col-md-12">
                                <div class="actions">
                                    <button type="submit" class="btn btn-solid btn-theme-light">notify me</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="animation-emoji">
        <app-animation-emoji></app-animation-emoji>
    </div>
</div>