<header class="header-menu">
    <app-header-two-skeleton></app-header-two-skeleton>
</header>

<div class="page-body container-fluid custom-padding newsfeed-style3">
    <div class="page-content content-sidebar m-0">
        <div class="content-left p-0">
            <div class="profile-box">
                <app-profile-box-skeleton></app-profile-box-skeleton>
            </div>
            <div class="suggestion-box section-t-space">
                <app-suggestion-box-skeleton></app-suggestion-box-skeleton>
            </div>
            <div class="page-list section-t-space">
                <app-like-page-skeleton></app-like-page-skeleton>
            </div>
        </div>
    </div>
    <div class="page-center">
        <div class="story-section ratio_115">
            <app-story-skeleton></app-story-skeleton>
        </div>
        <div class="container-fluid section-t-space px-0">
            <div class="page-content">
                <div class="content-center content-full">
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="create-post">
                                <app-create-post-skeleton></app-create-post-skeleton>
                            </div>
                            <div class="overlay-bg"></div>
                            <div class="post-panel section-t-space">
                                <div class="post-wrapper col-grid-box">
                                    <div class="post-title">
                                        <div class="profile">
                                            <div class="media">
                                                <div class="user-img">
                                                </div>
                                                <div class="media-body">
                                                    <h5></h5>
                                                    <h6></h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-details ratio2_1">
                                        <div class="img-wrapper bg-size">
                                        </div>
                                        <div class="detail-box">
                                            <h3></h3>
                                            <h5 class="tag"></h5>
                                            <div class="ldr-p">
                                                <p></p>
                                                <p></p>
                                            </div>
                                            <div class="bookmark favourite-btn">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-wrapper col-grid-box section-t-space">
                                    <div class="post-title">
                                        <div class="profile">
                                            <div class="media">
                                                <div class="user-img">
                                                </div>
                                                <div class="media-body">
                                                    <h5></h5>
                                                    <h6></h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-details ratio2_1">
                                        <div class="img-wrapper bg-size">
                                        </div>
                                        <div class="detail-box">
                                            <h3></h3>
                                            <h5 class="tag"></h5>
                                            <div class="ldr-p">
                                                <p></p>
                                                <p></p>
                                            </div>
                                            <div class="bookmark favourite-btn">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="post-panel">
                                <app-post-panel-skeleton></app-post-panel-skeleton>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="conversation-panel xl-light">
        <app-conversation-panel-skeleton></app-conversation-panel-skeleton>
    </div>
</div>