
<header>
    <app-header-one-skeleton></app-header-one-skeleton>
</header>
<div class="page-body container-fluid custom-padding profile-page profile-page-friend">
    <div class="sidebar-panel">
        <app-sidebar-one-skeleton></app-sidebar-one-skeleton>
    </div>
    <div class="page-center">
        <div class="profile-cover bg-size">
            <div class="profile-box d-lg-block d-none">
                <div class="profile-content">
                    <div class="image-section">
                        <div class="profile-img">
                            <div class="bg-loader"></div>
                        </div>
                    </div>
                    <div class="profile-detail">
                        <h2></h2>
                        <h5></h5>
                        <div class="counter-stats">
                            <div class="counter-stats">
                                <span></span>
                            </div>
                        </div>
                        <div class="ldr-btn btn"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-lg-none d-block">
            <div class="profile-box">
                <div class="profile-content">
                    <div class="image-section">
                        <div class="profile-img">
                            <div class="bg-loader"></div>
                        </div>
                    </div>
                    <div class="profile-detail">
                        <h2></h2>
                        <h5></h5>
                        <div class="counter-stats">
                            <span></span>
                        </div>
                        <div class="ldr-btn btn"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-menu section-t-space">
            <ul>
                <li>
                </li>
                <li>
                </li>
                <li>
                </li>
                <li>
                </li>
                <li class="d-xl-none d-inline-block">
                </li>
            </ul>
            <ul class="right-menu d-xl-flex d-none">
                <li>
                </li>
                <li>
                </li>
            </ul>
        </div>
        <div class="container-fluid section-t-space px-0">
            <div class="page-content">

                <div class="content-center w-100">
                    
                    <div class="friend-list-box section-b-space">
                        <div class="card-title">
                            <h3></h3>
                        </div>
                        <div class="container-fluid">
                            <div class="friend-list friend-page-list">
                                <ul>
                                    <li>
                                        <div class="profile-box friend-box">
                                            <div class="profile-content">
                                                <div class="image-section">
                                                    <div class="profile-img">
                                                        <div class="bg-loader"></div>
                                                    </div>
                                                </div>
                                                <div class="profile-detail">
                                                    <h2></h2>
                                                    <h5></h5>
                                                    <div class="counter-stats">
                                                        <span></span>
                                                    </div>
                                                    <div class="ldr-btn btn"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="profile-box friend-box">
                                            <div class="profile-content">
                                                <div class="image-section">
                                                    <div class="profile-img">
                                                        <div class="bg-loader"></div>
                                                    </div>
                                                </div>
                                                <div class="profile-detail">
                                                    <h2></h2>
                                                    <h5></h5>
                                                    <div class="counter-stats">
                                                        <span></span>
                                                    </div>
                                                    <div class="ldr-btn btn"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="profile-box friend-box">
                                            <div class="profile-content">
                                                <div class="image-section">
                                                    <div class="profile-img">
                                                        <div class="bg-loader"></div>
                                                    </div>
                                                </div>
                                                <div class="profile-detail">
                                                    <h2></h2>
                                                    <h5></h5>
                                                    <div class="counter-stats">
                                                        <span></span>
                                                    </div>
                                                    <div class="ldr-btn btn"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="profile-box friend-box">
                                            <div class="profile-content">
                                                <div class="image-section">
                                                    <div class="profile-img">
                                                        <div class="bg-loader"></div>
                                                    </div>
                                                </div>
                                                <div class="profile-detail">
                                                    <h2></h2>
                                                    <h5></h5>
                                                    <div class="counter-stats">
                                                        <span></span>
                                                    </div>
                                                    <div class="ldr-btn btn"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="profile-box friend-box">
                                            <div class="profile-content">
                                                <div class="image-section">
                                                    <div class="profile-img">
                                                        <div class="bg-loader"></div>
                                                    </div>
                                                </div>
                                                <div class="profile-detail">
                                                    <h2></h2>
                                                    <h5></h5>
                                                    <div class="counter-stats">
                                                        <span></span>
                                                    </div>
                                                    <div class="ldr-btn btn"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="profile-box friend-box">
                                            <div class="profile-content">
                                                <div class="image-section">
                                                    <div class="profile-img">
                                                        <div class="bg-loader"></div>
                                                    </div>
                                                </div>
                                                <div class="profile-detail">
                                                    <h2></h2>
                                                    <h5></h5>
                                                    <div class="counter-stats">
                                                        <span></span>
                                                    </div>
                                                    <div class="ldr-btn btn"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="profile-box friend-box">
                                            <div class="profile-content">
                                                <div class="image-section">
                                                    <div class="profile-img">
                                                        <div class="bg-loader"></div>
                                                    </div>
                                                </div>
                                                <div class="profile-detail">
                                                    <h2></h2>
                                                    <h5></h5>
                                                    <div class="counter-stats">
                                                        <span></span>
                                                    </div>
                                                    <div class="ldr-btn btn"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="profile-box friend-box">
                                            <div class="profile-content">
                                                <div class="image-section">
                                                    <div class="profile-img">
                                                        <div class="bg-loader"></div>
                                                    </div>
                                                </div>
                                                <div class="profile-detail">
                                                    <h2></h2>
                                                    <h5></h5>
                                                    <div class="counter-stats">
                                                        <span></span>
                                                    </div>
                                                    <div class="ldr-btn btn"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="profile-box friend-box">
                                            <div class="profile-content">
                                                <div class="image-section">
                                                    <div class="profile-img">
                                                        <div class="bg-loader"></div>
                                                    </div>
                                                </div>
                                                <div class="profile-detail">
                                                    <h2></h2>
                                                    <h5></h5>
                                                    <div class="counter-stats">
                                                        <span></span>
                                                    </div>
                                                    <div class="ldr-btn btn"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="profile-box friend-box">
                                            <div class="profile-content">
                                                <div class="image-section">
                                                    <div class="profile-img">
                                                        <div class="bg-loader"></div>
                                                    </div>
                                                </div>
                                                <div class="profile-detail">
                                                    <h2></h2>
                                                    <h5></h5>
                                                    <div class="counter-stats">
                                                        <span></span>
                                                    </div>
                                                    <div class="ldr-btn btn"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="profile-box friend-box">
                                            <div class="profile-content">
                                                <div class="image-section">
                                                    <div class="profile-img">
                                                        <div class="bg-loader"></div>
                                                    </div>
                                                </div>
                                                <div class="profile-detail">
                                                    <h2></h2>
                                                    <h5></h5>
                                                    <div class="counter-stats">
                                                        <span></span>
                                                    </div>
                                                    <div class="ldr-btn btn"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="profile-box friend-box">
                                            <div class="profile-content">
                                                <div class="image-section">
                                                    <div class="profile-img">
                                                        <div class="bg-loader"></div>
                                                    </div>
                                                </div>
                                                <div class="profile-detail">
                                                    <h2></h2>
                                                    <h5></h5>
                                                    <div class="counter-stats">
                                                        <span></span>
                                                    </div>
                                                    <div class="ldr-btn btn"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="conversation-panel xl-light">
        <app-conversation-panel-skeleton></app-conversation-panel-skeleton>        
    </div>

</div>
