<div class="setting-wrapper">
    <div class="setting-title">
        <h3>Account settings</h3>
    </div>
    <div class="form-sec">
        <div>
            <form class="theme-form form-sm">
                <div class="row">
                    <div class="form-group col-12">
                        <label>current password</label>
                        <input type="password" class="form-control"
                            placeholder="current password">
                    </div>
                    <div class="form-group col-sm-6">
                        <label>new password</label>
                        <input type="password" class="form-control"
                            placeholder="new password">
                    </div>
                    <div class="form-group col-sm-6">
                        <label>repeat password</label>
                        <input type="password" class="form-control"
                            placeholder="repeat password">
                    </div>
                    <div class="form-group col-12">
                        <label>use two factor authentication</label>
                    </div>
                    <div class="form-group toggle-sec col-12">
                        <div class="button toggle-btn">
                            <input type="checkbox" checked class="checkbox">
                            <div class="knobs">
                                <span></span>
                            </div>
                            <div class="layer"></div>
                        </div>
                        <label>enable
                            <span>we'll ask for a code if we notice an unrecognized
                                device</span>
                        </label>
                    </div>
                </div>
                <div class="text-right">
                    <a href="javascript:void(0)" class="btn btn-solid">save changes</a>
                </div>
            </form>
        </div>
    </div>
</div>