
<header>
    <app-header-one-skeleton></app-header-one-skeleton>
</header>


<div class="page-body container-fluid custom-padding profile-page profile-page-friend">
   
    
    <div class="page-center">
      
    
        <div class="container-fluid section-t-space px-0">
            <div class="page-content">
                <div class="content-center w-100">
                    
                    <div class="gallery-page-section section-b-space">
                       
                        <div>
                            
                        </div>
                        <div class="tab-section">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-bs-toggle="tab" href="#photo-album" role="tab"
                                        aria-selected="false"></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " data-bs-toggle="tab" href="#photo" role="tab"
                                        aria-selected="true"></a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade show active Choose-photo-modal" role="tabpanel"
                                    aria-labelledby="profile-tab">
                                    <div class="row gallery-album">
                                        <div class="col-xl-3 col-lg-4 col-6">
                                            <a class="card add-card">
                                            </a>
                                        </div>
                                        <div class="col-xl-3 col-lg-4 col-6">
                                            <a class="card collection">
                                                <div class="card-body">
                                                    <h5 class="card-title"></h5>
                                                    <h6></h6>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-xl-3 col-lg-4 col-6">
                                            <a class="card collection">
                                                <div class="card-body">
                                                    <h5 class="card-title"></h5>
                                                    <h6></h6>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-xl-3 col-lg-4 col-6">
                                            <a class="card collection">
                                                <div class="card-body">
                                                    <h5 class="card-title"></h5>
                                                    <h6></h6>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-xl-3 col-lg-4 col-6">
                                            <a class="card collection">
                                                <div class="card-body">
                                                    <h5 class="card-title"></h5>
                                                    <h6></h6>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-xl-3 col-lg-4 col-6">
                                            <a class="card collection">
                                                <div class="card-body">
                                                    <h5 class="card-title"></h5>
                                                    <h6></h6>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-xl-3 col-lg-4 col-6">
                                            <a class="card collection">
                                                <div class="card-body">
                                                    <h5 class="card-title"></h5>
                                                    <h6></h6>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
