
<header>
    <app-header-one-skeleton></app-header-one-skeleton>
</header>


<div class="page-body container-fluid custom-padding profile-page profile-page-friend">
    <div class="sidebar-panel">
        <app-sidebar-one-skeleton></app-sidebar-one-skeleton>
    </div>
    
    <div class="page-center">
        <div class="profile-cover bg-size">
            <div class="profile-box d-lg-block d-none">
                <div class="profile-content">
                    <div class="image-section">
                        <div class="profile-img">
                            <div class="bg-loader"></div>
                        </div>
                    </div>
                    <div class="profile-detail">
                        <h2></h2>
                        <h5></h5>
                        <div class="counter-stats">
                            <div class="counter-stats">
                                <span></span>
                            </div>
                        </div>
                        <div class="ldr-btn btn"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-lg-none d-block">
            <div class="profile-box">
                <div class="profile-content">
                    <div class="image-section">
                        <div class="profile-img">
                            <div class="bg-loader"></div>
                        </div>
                    </div>
                    <div class="profile-detail">
                        <h2></h2>
                        <h5></h5>
                        <div class="counter-stats">
                            <span></span>
                        </div>
                        <div class="ldr-btn btn"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-menu section-t-space">
            <ul>
                <li>
                </li>
                <li>
                </li>
                <li>
                </li>
                <li>
                </li>
                <li class="d-xl-none d-inline-block">
                </li>
            </ul>
            <ul class="right-menu d-xl-flex d-none">
                <li>
                </li>
                <li>
                </li>
            </ul>
        </div>
        <div class="container-fluid section-t-space px-0">
            <div class="page-content">
                <div class="content-center w-100">
                    
                    <div class="gallery-page-section section-b-space">
                        <div class="card-title">
                            <h3></h3>
                        </div>
                        <div class="tab-section">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-bs-toggle="tab" href="#photo-album" role="tab"
                                        aria-selected="false"></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " data-bs-toggle="tab" href="#photo" role="tab"
                                        aria-selected="true"></a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade show active Choose-photo-modal" role="tabpanel"
                                    aria-labelledby="profile-tab">
                                    <div class="row gallery-album">
                                        <div class="col-xl-3 col-lg-4 col-6">
                                            <a class="card add-card">
                                            </a>
                                        </div>
                                        <div class="col-xl-3 col-lg-4 col-6">
                                            <a class="card collection">
                                                <div class="card-body">
                                                    <h5 class="card-title"></h5>
                                                    <h6></h6>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-xl-3 col-lg-4 col-6">
                                            <a class="card collection">
                                                <div class="card-body">
                                                    <h5 class="card-title"></h5>
                                                    <h6></h6>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-xl-3 col-lg-4 col-6">
                                            <a class="card collection">
                                                <div class="card-body">
                                                    <h5 class="card-title"></h5>
                                                    <h6></h6>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-xl-3 col-lg-4 col-6">
                                            <a class="card collection">
                                                <div class="card-body">
                                                    <h5 class="card-title"></h5>
                                                    <h6></h6>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-xl-3 col-lg-4 col-6">
                                            <a class="card collection">
                                                <div class="card-body">
                                                    <h5 class="card-title"></h5>
                                                    <h6></h6>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-xl-3 col-lg-4 col-6">
                                            <a class="card collection">
                                                <div class="card-body">
                                                    <h5 class="card-title"></h5>
                                                    <h6></h6>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="conversation-panel xl-light">
        <app-conversation-panel-skeleton></app-conversation-panel-skeleton>        
    </div>

</div>
