<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="title-sec">
                <h4>testimonial</h4>
                <h3>see what our client says</h3>
            </div>
        </div>
    </div>
    <div class="row testimonial-space">
        <div class="col-lg-6 order-lg-2">
            <div class="testimonial-vector">
                <div class="round">
                    <span></span>
                    <img src="assets/images/company-landing/logo.png" class="img-fluid " alt="">
                </div>
                <div class="users-sec">
                    <div class="user-box wow zoomIn">
                        <div class="content">
                            <h6>best UI Design</h6>
                        </div>
                        <div class="img">
                            <img src="assets/images/user-sm/1.jpg" class="img-fluid " alt="">
                        </div>
                    </div>
                    <div class="user-box user2 wow zoomIn">
                        <div class="img">
                            <img src="assets/images/user-sm/2.jpg" class="img-fluid " alt="">
                        </div>
                        <div class="content bottom">
                            <h6>cool app</h6>
                        </div>
                    </div>
                    <div class="user-box user3 wow zoomIn">
                        <div class="img">
                            <img src="assets/images/user-sm/3.jpg" class="img-fluid " alt="">
                        </div>
                        <div class="content bottom">
                            <h6>love to use</h6>
                        </div>
                    </div>
                    <div class="user-box user4 wow zoomIn">
                        <div class="content">
                            <h6>best app</h6>
                        </div>
                        <div class="img">
                            <img src="assets/images/user-sm/4.jpg" class="img-fluid " alt="">
                        </div>
                    </div>
                    <div class="user-box user5 wow zoomIn">
                        <div class="content">
                            <h6>best app</h6>
                        </div>
                        <div class="img">
                            <img src="assets/images/user-sm/5.jpg" class="img-flui" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 order-lg-1">
            <div class="feature-content">
                <div>
                    <h3 class="title">our client's reviews</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable content of
                        a page when looking at its layout. The point of using Lorem Ipsum is a more-or-less.</p>
                    <div class="user-section">
                        <ul>
                            @for (item of reviews; track item) {
                                <li>
                                    <img [src]="item.image" class="img-fluid " alt="">
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="count-status">
                        <ul>
                            @for (item of countStatus; track item) {
                                <li>
                                    <h4>{{item.title}}</h4>
                                    <h6>{{item.subTitle}}</h6>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="animation-home">
    <div class="cross"></div>
    <div class="cross cross1"></div>
    <div class="tringle"></div>
    <div class="tringle tringle1"></div>
    <div class="circle"></div>
</div>