
<header>
    <app-header-one-skeleton></app-header-one-skeleton>
</header>
<div class="page-body container-fluid custom-padding event-page">
    <div class="sidebar-panel">
        <app-sidebar-one-skeleton></app-sidebar-one-skeleton>
    </div>
    <div class="page-center">
        <div class="event-cover light-cover">
            <div class="event-img bg-size">
                <div class="settings">
                    <div class="setting-btn">
                    </div>
                    <div class="setting-btn ms-2 setting-dropdown">
                        <div class=" btn-group custom-dropdown arrow-none dropdown-sm">
                            <a href="javascript:void(0)" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid section-t-space px-0">
            <div class="page-content">
                <div class="content-center w-100">
                
                    <div class="profile-menu ms-0 me-0">
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li class="d-xl-none d-inline-block"></li>
                        </ul>
                        <ul class="right-menu d-xl-flex d-none">
                            <li></li>
                        </ul>
                    </div>
                    <div class="page-list-section section-t-space">
                        <div class="row">
                            <div class="col-xl-3 col-lg-4 col-sm-6">
                                <div class="list-box">
                                    <div class="cover-img bg-size">
                                        <div class="logo-img"></div>
                                    </div>
                                    <div class="list-content">
                                        <div class="page-name">
                                            <a href="javascript:void(0)">
                                                <h4></h4>
                                            </a>
                                            <h6></h6>
                                        </div>
                                        <div class="counter-stats">
                                            <span></span>
                                        </div>
                                        <div class="bottom-btn">
                                            <div class="ldr-btn btn"></div>
                                            <div class="ldr-btn btn"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-sm-6">
                                <div class="list-box">
                                    <div class="cover-img bg-size">
                                        <div class="logo-img"></div>
                                    </div>
                                    <div class="list-content">
                                        <div class="page-name">
                                            <a href="javascript:void(0)">
                                                <h4></h4>
                                            </a>
                                            <h6></h6>
                                        </div>
                                        <div class="counter-stats">
                                            <span></span>
                                        </div>
                                        <div class="bottom-btn">
                                            <div class="ldr-btn btn"></div>
                                            <div class="ldr-btn btn"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-sm-6">
                                <div class="list-box">
                                    <div class="cover-img bg-size">
                                        <div class="logo-img"></div>
                                    </div>
                                    <div class="list-content">
                                        <div class="page-name">
                                            <a href="javascript:void(0)">
                                                <h4></h4>
                                            </a>
                                            <h6></h6>
                                        </div>
                                        <div class="counter-stats">
                                            <span></span>
                                        </div>
                                        <div class="bottom-btn">
                                            <div class="ldr-btn btn"></div>
                                            <div class="ldr-btn btn"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-sm-6">
                                <div class="list-box">
                                    <div class="cover-img bg-size">
                                        <div class="logo-img"></div>
                                    </div>
                                    <div class="list-content">
                                        <div class="page-name">
                                            <a href="javascript:void(0)">
                                                <h4></h4>
                                            </a>
                                            <h6></h6>
                                        </div>
                                        <div class="counter-stats">
                                            <span></span>
                                        </div>
                                        <div class="bottom-btn">
                                            <div class="ldr-btn btn"></div>
                                            <div class="ldr-btn btn"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-sm-6">
                                <div class="list-box">
                                    <div class="cover-img bg-size">
                                        <div class="logo-img"></div>
                                    </div>
                                    <div class="list-content">
                                        <div class="page-name">
                                            <a href="javascript:void(0)">
                                                <h4></h4>
                                            </a>
                                            <h6></h6>
                                        </div>
                                        <div class="counter-stats">
                                            <span></span>
                                        </div>
                                        <div class="bottom-btn">
                                            <div class="ldr-btn btn"></div>
                                            <div class="ldr-btn btn"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-sm-6">
                                <div class="list-box">
                                    <div class="cover-img bg-size">
                                        <div class="logo-img"></div>
                                    </div>
                                    <div class="list-content">
                                        <div class="page-name">
                                            <a href="javascript:void(0)">
                                                <h4></h4>
                                            </a>
                                            <h6></h6>
                                        </div>
                                        <div class="counter-stats">
                                            <span></span>
                                        </div>
                                        <div class="bottom-btn">
                                            <div class="ldr-btn btn"></div>
                                            <div class="ldr-btn btn"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-sm-6">
                                <div class="list-box">
                                    <div class="cover-img bg-size">
                                        <div class="logo-img"></div>
                                    </div>
                                    <div class="list-content">
                                        <div class="page-name">
                                            <a href="javascript:void(0)">
                                                <h4></h4>
                                            </a>
                                            <h6></h6>
                                        </div>
                                        <div class="counter-stats">
                                            <span></span>
                                        </div>
                                        <div class="bottom-btn">
                                            <div class="ldr-btn btn"></div>
                                            <div class="ldr-btn btn"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-sm-6">
                                <div class="list-box">
                                    <div class="cover-img bg-size">
                                        <div class="logo-img"></div>
                                    </div>
                                    <div class="list-content">
                                        <div class="page-name">
                                            <a href="javascript:void(0)">
                                                <h4></h4>
                                            </a>
                                            <h6></h6>
                                        </div>
                                        <div class="counter-stats">
                                            <span></span>
                                        </div>
                                        <div class="bottom-btn">
                                            <div class="ldr-btn btn"></div>
                                            <div class="ldr-btn btn"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="conversation-panel xl-light">
        <app-conversation-panel-skeleton></app-conversation-panel-skeleton>
    </div>

</div>