
<header>
    <app-header-one-skeleton></app-header-one-skeleton>
</header>
<div class="page-body container-fluid custom-padding  profile-page">
    <div class="sidebar-panel">
      <app-sidebar-one-skeleton></app-sidebar-one-skeleton>
    </div>
    <div class="page-center">
        <div class="profile-cover bg-size">
            <div class="profile-box d-lg-block d-none friend-profile">
                <div class="profile-content">
                    <div class="image-section">
                        <div class="profile-img">
                            <div class="bg-loader"></div>
                        </div>
                    </div>
                    <div class="profile-detail">
                        <h2></h2>
                        <h5></h5>
                        <div class="counter-stats">
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-lg-none d-block">
            <div class="profile-box">
                <div class="profile-content">
                    <div class="image-section">
                        <div class="profile-img">
                            <div class="bg-loader"></div>
                        </div>
                    </div>
                    <div class="profile-detail">
                        <h2></h2>
                        <h5></h5>
                        <div class="counter-stats">
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-menu section-t-space">
            <ul>
                <li>
                </li>
                <li>
                </li>
                <li>
                </li>
                <li>
                </li>
                <li class="d-xl-none d-inline-block">
                </li>
            </ul>
            <ul class="right-menu d-xl-flex d-none">
                <li>
                </li>
                <li>
                </li>
                <li>
                </li>
            </ul>
        </div>
        <div class="container-fluid section-t-space px-0">
            <div class="page-content">
                <div class="content-left">
                    <div class="profile-about">
                        <div class="card-title">
                            <h3></h3>
                            <div class="settings">
                                <div class="setting-btn">
                                    <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#editProfile">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="about-content">
                            <ul>
                                <li>
                                    <div class="icon">
                                    </div>
                                    <div class="details">
                                        <h5></h5>
                                        <h6></h6>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                    </div>
                                    <div class="details">
                                        <h5></h5>
                                        <h6></h6>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                    </div>
                                    <div class="details">
                                        <h5></h5>
                                        <h6></h6>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                    </div>
                                    <div class="details">
                                        <h5></h5>
                                        <h6></h6>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                    </div>
                                    <div class="details">
                                        <h5></h5>
                                        <h6></h6>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="about-footer">
                            <ul>
                                <li class="fb">
                                </li>
                                <li class="tw">
                                </li>
                                <li class="wa">
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="suggestion-box section-t-space">
                         <app-suggestion-box-skeleton></app-suggestion-box-skeleton>
                    </div>
                    <div class="sticky-top d-xl-block d-none">
                            <div class="page-list section-t-space">
                          <app-like-page-skeleton></app-like-page-skeleton>
                        </div>
                    </div>
                </div>
                <div class="content-center">
                    <div class="post-panel">
                        <div class="post-wrapper col-grid-box">
                            <div class="post-title">
                                <div class="profile">
                                    <div class="media">
                                        <div class="user-img">
                                        </div>
                                        <div class="media-body">
                                            <h5></h5>
                                            <h6></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="post-details ratio2_1">
                                <div class="img-wrapper bg-size">
                                </div>
                                <div class="detail-box">
                                    <h3></h3>
                                    <h5 class="tag"></h5>
                                    <div class="ldr-p">
                                        <p></p>
                                        <p></p>
                                    </div>
                                    <div class="bookmark favourite-btn">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post-wrapper col-grid-box section-t-space">
                            <div class="post-title">
                                <div class="profile">
                                    <div class="media">
                                        <div class="user-img">
                                        </div>
                                        <div class="media-body">
                                            <h5></h5>
                                            <h6></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="post-details ratio2_1">
                                <div class="img-wrapper bg-size">
                                </div>
                                <div class="detail-box">
                                    <h3></h3>
                                    <h5 class="tag"></h5>
                                    <div class="ldr-p">
                                        <p></p>
                                        <p></p>
                                    </div>
                                    <div class="bookmark favourite-btn">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post-wrapper col-grid-box section-t-space">
                            <div class="post-title">
                                <div class="profile">
                                    <div class="media">
                                        <div class="user-img">
                                        </div>
                                        <div class="media-body">
                                            <h5></h5>
                                            <h6></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="post-details ratio2_1">
                                <div class="detail-box">
                                    <h3></h3>
                                    <h5 class="tag"></h5>
                                    <div class="ldr-p">
                                        <p></p>
                                        <p></p>
                                    </div>
                                    <div class="bookmark favourite-btn">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-right d-xl-block d-none">
                    <div class="sticky-top">
                            <div class="gallery-section">
                            <app-gallery-section-skeleton></app-gallery-section-skeleton>
                        </div>
                        <div class="hashtag-list section-t-space">
                            <div class="card-title">
                                <h3></h3>
                                <div class="settings">
                                    <div class="setting-btn">
                                        <a href="javascript:void(0)" class="d-flex">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="hashtag-content">
                                <ul>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <h5></h5>
                                        </a>
                                        <h6></h6>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <h5></h5>
                                        </a>
                                        <h6></h6>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <h5></h5>
                                        </a>
                                        <h6></h6>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <h5></h5>
                                        </a>
                                        <h6></h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="conversation-panel xl-light">
        <app-conversation-panel-skeleton></app-conversation-panel-skeleton>        

    </div>

</div>