<div class="setting-home">
    <div class="top-content">
        <h2>Welcome back Josephin water</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur repellat
            officiis, perspiciatis minus veniam ad sapiente nemo odit, corrupti iure earum,
            atque tenetur asperiores incidunt placeat eius voluptatem nesciunt
            in.
        </p>
    </div>
    <div class="row">
        <div class="col-xl-4 col-sm-6">
            <a class="detail-box">
                <img src="assets/svg/setting/profile.svg" class="img-fluid" alt="">
                <h3>personal details</h3>
                <p>provide all personal detail settings.</p>
            </a>
        </div>
        <div class="col-xl-4 col-sm-6">
            <a class="detail-box">
                <img src="assets/svg/setting/account.svg" class="img-fluid" alt="">
                <h3>account</h3>
                <p>provide all personal detail settings.</p>
            </a>
        </div>
        <div class="col-xl-4 col-sm-6">
            <a class="detail-box">
                <img src="assets/svg/setting/privacy.svg" class="img-fluid" alt="">
                <h3>privacy</h3>
                <p>provide all personal detail settings.</p>
            </a>
        </div>
        <div class="col-xl-4 col-sm-6">
            <a class="detail-box">
                <img src="assets/svg/setting/notification.svg" class="img-fluid" alt="">
                <h3>notification</h3>
                <p>provide all personal detail settings.</p>
            </a>
        </div>
        <div class="col-xl-4 col-sm-6">
            <a class="detail-box">
                <img src="assets/svg/setting/story.svg" class="img-fluid" alt="">
                <h3>story</h3>
                <p>provide all personal detail settings.</p>
            </a>
        </div>
        <div class="col-xl-4 col-sm-6">
            <a [routerLink]="['/others/help-support']" class="detail-box">
                <img src="assets/svg/setting/help.svg" class="img-fluid" alt="">
                <h3>help</h3>
                <p>provide all personal detail settings.</p>
            </a>
        </div>
    </div>
</div>