<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="title-sec">
                <h4>our stats</h4>
                <h3>No Stories, Facts Only</h3>
            </div>
        </div>
    </div>
    <div class="row margin-deafult">
        <div class="col-lg-4">
            <div class="feature-box">
                <div class="icon-box">
                    <img src="assets/svg/about/man.svg" class="img-fluid" alt="">
                </div>
                <div class="feature-content">
                    <h3>1.5M active user</h3>
                    <p>We Provide Clean and better interface for easy to use application.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="feature-box">
                <div class="icon-box">
                    <img src="assets/svg/about/customer.svg" class="img-fluid" alt="">
                </div>
                <div class="feature-content">
                    <h3>4.8/5 Ratings</h3>
                    <p>We design this very much properly, Easy and simple to understand.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="feature-box">
                <div class="icon-box">
                    <img src="assets/svg/about/web-page.svg" class="img-fluid" alt="">
                </div>
                <div class="feature-content">
                    <h3>100K Pages</h3>
                    <p>Fully responsive design for user, quick and easy to operate in device.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="animation-home">
    <div class="cross"></div>
    <div class="cross cross1"></div>
    <div class="tringle"></div>
    <div class="tringle tringle1"></div>
    <div class="circle"></div>
</div>