
<header>
    <app-header-one-skeleton></app-header-one-skeleton>
</header>
<div class="page-body container-fluid custom-padding favourite-page-body">
    <div class="sidebar-panel">
        <app-sidebar-one-skeleton></app-sidebar-one-skeleton>
    </div>
    <div class="page-center">
        <div class="page-cover">
            <div class="cover-img bg-size"> </div>
            <div class="cover-content">
                <div class="page-logo">
                </div>
                <a href="javascript:void(0)" class="page-name">
                    <h4></h4>
                    <h6></h6>
                </a>
                <div class="page-stats">
                    <ul>
                        <li>
                            <h2></h2>
                            <h6></h6>
                        </li>
                        <li>
                            <h2></h2>
                            <h6></h6>
                        </li>
                        <li>
                            <h2></h2>
                            <h6></h6>
                        </li>
                        <li>
                            <h2></h2>
                            <h6></h6>
                        </li>
                        <li>
                            <h2></h2>
                            <h6></h6>
                        </li>
                    </ul>
                </div>
                <div class="social-btn">
                    <ul>
                        <li class="facebook"></li>
                        <li class="twitter"></li>
                        <li class="whatsapp"></li>
                        <li class="instagram"></li>
                        <li class="youtube"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="profile-menu section-t-space">
            <ul>
                <li class="active"></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <ul class="right-menu d-xl-flex d-none">
                <li></li>
            </ul>
        </div>
        <div class="container-fluid section-t-space px-0">
            <div class="page-content">
                <div class="content-left col-4 order-1 res-full-width">
                    <div class="sticky-top">
                    
                        <div class="review-counter section-b-space">
                            <div class="card-title">
                                <h3></h3>
                                <div class="settings">
                                    <div class="setting-btn"></div>
                                </div>
                            </div>
                            <div class="review-content">
                                <h2></h2>
                                <h4></h4>
                                <div class="ratings mt-1"></div>
                                <div class="review-part">
                                    <ul>
                                        <li>
                                            <h5></h5>
                                            <div class="progress"></div>
                                        </li>
                                        <li>
                                            <h5></h5>
                                            <div class="progress"></div>
                                        </li>
                                        <li>
                                            <h5></h5>
                                            <div class="progress"></div>
                                        </li>
                                        <li>
                                            <h5></h5>
                                            <div class="progress"></div>
                                        </li>
                                        <li>
                                            <h5></h5>
                                            <div class="progress"></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="review-bottom">
                        
                            <div class="recommend-sec">
                                <h3></h3>
                                <div class="recommend-btn">
                                    <div class="btn ldr-btn"></div>
                                    <div class="btn ldr-btn"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-center col-8">
                    <div class="profile-menu section-b-space ms-0 me-0">
                        <ul>
                            <li> </li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="post-panel">
                        <div class="post-wrapper col-grid-box">
                            <div class="post-title">
                                <div class="profile">
                                    <div class="media">
                                        <div class="user-img">
                                        </div>
                                        <div class="media-body">
                                            <h5></h5>
                                            <h6></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="post-details ratio2_1">
                                <div class="detail-box">
                                    <h3></h3>
                                    <h5 class="tag"></h5>
                                    <div class="ldr-p">
                                        <p></p>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post-wrapper col-grid-box section-t-space">
                            <div class="post-title">
                                <div class="profile">
                                    <div class="media">
                                        <div class="user-img">
                                        </div>
                                        <div class="media-body">
                                            <h5></h5>
                                            <h6></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="post-details ratio2_1">
                                <div class="detail-box">
                                    <h3></h3>
                                    <h5 class="tag"></h5>
                                    <div class="ldr-p">
                                        <p></p>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="conversation-panel xl-light">
        <app-conversation-panel-skeleton></app-conversation-panel-skeleton>
    </div>
</div>