<div class="element-card theme-card bg-white">
    <div class="card-header">
        <h4>Button Outline</h4>
    </div>
    <div class="card-body">
        <div class="btn-group-showcase">
            <button type="button" class="btn btn-outline-primary">Primary</button>
            <button type="button" class="btn btn-outline-secondary">Secondary</button>
            <button type="button" class="btn btn-outline-success">Success</button>
            <button type="button" class="btn btn-outline-danger">Danger</button>
            <button type="button" class="btn btn-outline-warning">Warning</button>
            <button type="button" class="btn btn-outline-info">Info</button>
            <button type="button" class="btn btn-outline-dark">Dark</button>
        </div>
    </div>
</div>