<header>
    <app-header-three></app-header-three>
</header>

<div class="page-body container-fluid custom-padding newsfeed-style3 width-style">
    <div class="page-center">
        <div class="story-section ratio_115">
            <app-story-skeleton></app-story-skeleton>
        </div>
        <div class="container-fluid section-t-space px-0">
            <div class="page-content">
                <div class="content-center content-full">
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="create-post">
                                <app-create-post-skeleton></app-create-post-skeleton>
                            </div>
                            <div class="overlay-bg"></div>
                            <div class="post-panel section-t-space">
                                <app-post-panel-skeleton></app-post-panel-skeleton>

                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="post-panel">
                                <app-post-panel-skeleton></app-post-panel-skeleton>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content content-sidebar m-0">
        <div class="content-left p-0">

            <div class="profile-box">
                <app-profile-box-skeleton></app-profile-box-skeleton>
            </div>

            <div class="suggestion-box section-t-space">
                <app-suggestion-box-skeleton></app-suggestion-box-skeleton>
            </div>
            <div class="sticky-top">

                <div class="page-list section-t-space">
                    <app-like-page-skeleton></app-like-page-skeleton>
                </div>
            </div>
        </div>
    </div>
</div>