<div class="card-title">
    <h3>All Games</h3>
    <div class="ms-auto button-group filters-button-group">
        @for (item of tabData; track item) {
        <button class="button" [ngClass]="{'is-checked': openTab == item.category}"
            (click)="changeTab(item.category)">{{item.value}}</button>
        }
    </div>
</div>
<div class="filter-content">
    <div class="grid row ratio2_3">
        @for (item of filterData ? filterData : allGames; track item) {
        <div class="element-item simulation">
            <div class="game-box">
                <div class="img-sec bg-size" [ngStyle]="{'background-image': 'url(' +  item.image  + ')'}"
                    style="background-size: cover;background-position: center center;background-repeat: no-repeat;display: block;">
                    <img [src]="item.image" class="img-fluid  bg-img" alt="game" style="display: none;">
                    <a href="javascript:void(0)" class="btn btn-solid">play</a>
                </div>
                <div class="game-content">
                    <h4>{{item.title}}</h4>
                    <h5>{{item.subTitle}}</h5>
                    <p>{{item.description}}</p>
                </div>
            </div>
        </div>
        }
    </div>
</div>