
<header>
    <app-header-one-skeleton></app-header-one-skeleton>
</header>


<div class="page-body container-fluid custom-padding music-page">
    <div class="sidebar-panel">
        <app-sidebar-one-skeleton></app-sidebar-one-skeleton>
    </div>
    
    <div class="page-center">
        
        <div class="event-cover">
            <div class="event-img">
            </div>
            <div class="event-timeline">
                <div class="timeline-title">
                    <div class="media">
                        <div class="media-body">
                            <h4></h4>
                            <h6></h6>
                        </div>
                    </div>
                </div>
                <ul class="timeline-content">
                    <li>
                        <h4></h4>
                        <h6></h6>
                    </li>
                    <li>
                        <h4></h4>
                        <h6></h6>
                    </li>
                    <li>
                        <h4></h4>
                        <h6></h6>
                    </li>
                    <li>
                        <h4></h4>
                        <h6></h6>
                    </li>
                    <li>
                        <h4></h4>
                        <h6></h6>
                    </li>
                    <li>
                        <h4></h4>
                        <h6></h6>
                    </li>
                </ul>
            </div>
        </div>
        <div class="event-category music-slider-section section-t-space">
            <div class="event-title">
                <div class="content">
                    <h3></h3>
                    <h6></h6>
                </div>
            </div>
            <div class="col-10 suggestion-box">
                <div class="music-slider ratio_115 no-arrow default-space">
                    <div class="story-content-box">
                        <div class="story-box">
                            <div class="story-bg bg-size"></div>
                        </div>
                    </div>
                    <div class="story-content-box">
                        <div class="story-box">
                            <div class="story-bg bg-size"></div>
                        </div>
                    </div>
                    <div class="story-content-box">
                        <div class="story-box">
                            <div class="story-bg bg-size"></div>
                        </div>
                    </div>
                    <div class="story-content-box">
                        <div class="story-box">
                            <div class="story-bg bg-size"></div>
                        </div>
                    </div>
                    <div class="story-content-box">
                        <div class="story-box">
                            <div class="story-bg bg-size"></div>
                        </div>
                    </div>
                    <div class="story-content-box">
                        <div class="story-box">
                            <div class="story-bg bg-size"></div>
                        </div>
                    </div>
                    <div class="story-content-box">
                        <div class="story-box">
                            <div class="story-bg bg-size"></div>
                        </div>
                    </div>
                    <div class="story-content-box">
                        <div class="story-box">
                            <div class="story-bg bg-size"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid section-t-space px-0">
            <div class="page-content">
                <div class="content-left">
                    <div class="player-box">
                        <div class="card-title">
                            <h3></h3>
                            <div class="settings">
                                <div class="setting-btn"></div>
                            </div>
                        </div>
                        <div class="main-wrapper">
                            <div class="song-wrapper">
                                <div class="song-thumb-wrapper">
                                </div>
                                <div class="song-info">
                                    <h2></h2>
                                    <h6></h6>
                                </div>
                            </div>
                            <div class="volume-wrapper"></div>
                        </div>
                    </div>
                </div>
                <div class="content-center">
                    <div class="playlist-sec">
                        <div class="card-title">
                            <h3></h3>
                            <div class="settings">
                                <div class="setting-btn"></div>
                            </div>
                        </div>
                        <div class="table-sec">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="media">
                                                <div class="img-sec"></div>
                                                <div class="media-body">
                                                    <h5></h5>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <h5></h5>
                                        </td>
                                        <td>
                                            <h6></h6>
                                        </td>
                                        <td>
                                            <h5></h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="media">
                                                <div class="img-sec"></div>
                                                <div class="media-body">
                                                    <h5></h5>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <h5></h5>
                                        </td>
                                        <td>
                                            <h6></h6>
                                        </td>
                                        <td>
                                            <h5></h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="media">
                                                <div class="img-sec"></div>
                                                <div class="media-body">
                                                    <h5></h5>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <h5></h5>
                                        </td>
                                        <td>
                                            <h6></h6>
                                        </td>
                                        <td>
                                            <h5></h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="media">
                                                <div class="img-sec"></div>
                                                <div class="media-body">
                                                    <h5></h5>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <h5></h5>
                                        </td>
                                        <td>
                                            <h6></h6>
                                        </td>
                                        <td>
                                            <h5></h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="media">
                                                <div class="img-sec"></div>
                                                <div class="media-body">
                                                    <h5></h5>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <h5></h5>
                                        </td>
                                        <td>
                                            <h6></h6>
                                        </td>
                                        <td>
                                            <h5></h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="media">
                                                <div class="img-sec"></div>
                                                <div class="media-body">
                                                    <h5></h5>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <h5></h5>
                                        </td>
                                        <td>
                                            <h6></h6>
                                        </td>
                                        <td>
                                            <h5></h5>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="content-right">
                    <div class="playlist-sec">
                        <div class="card-title">
                            <h3></h3>
                            <div class="settings">
                                <div class="setting-btn"></div>
                            </div>
                        </div>
                        <div class="popular-song-sec">
                            <ul>
                                <li>
                                    <div class="media">
                                        <div class="icon-play"></div>
                                        <div class="media-body">
                                            <h5></h5>
                                            <h6></h6>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media">
                                        <div class="icon-play"></div>
                                        <div class="media-body">
                                            <h5></h5>
                                            <h6></h6>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media">
                                        <div class="icon-play"></div>
                                        <div class="media-body">
                                            <h5></h5>
                                            <h6></h6>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media">
                                        <div class="icon-play"></div>
                                        <div class="media-body">
                                            <h5></h5>
                                            <h6></h6>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media">
                                        <div class="icon-play"></div>
                                        <div class="media-body">
                                            <h5></h5>
                                            <h6></h6>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media">
                                        <div class="icon-play"></div>
                                        <div class="media-body">
                                            <h5></h5>
                                            <h6></h6>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="conversation-panel xl-light">
        <app-conversation-panel-skeleton></app-conversation-panel-skeleton>
    </div>
</div>
