<div class="card-header">
    <h4>Text Color</h4>
    <span>You can Give text color by using txt-* class</span>
</div>
<div class="card-body">
    <p class="text-primary">This is Primary text You can archive this adding
        <code>.text-primary</code> class
    </p>
    <p class="text-secondary">This is Secondary text You can archive this adding
        <code>.text-secondary</code> class
    </p>
    <p class="text-success">This is Success text You can archive this adding
        <code>.text-success</code> class
    </p>
    <p class="text-info">This is Info text You can archive this adding <code>.text-info</code>
        class
    </p>
    <p class="text-warning">This is Warning text You can archive this adding
        <code>.text-warning</code> class
    </p>
    <p class="text-danger">This is Danger text You can archive this adding
        <code>.text-danger</code> class
    </p>
    <p class="text-dark">This is Dark text You can archive this adding <code>.text-dark</code>
        class
    </p>
    <p class="text-muted">This is Primary text You can archive this adding
        <code>.text-muted</code> class
    </p>
</div>