<div class="event-category music-slider-section section-t-space">
    <div class="event-title">
        <div class="icon">
            <app-feather-icon [class]="'icon-light'" [icons]="'plus'"></app-feather-icon>
        </div>
        <div class="content">
            <h3>your favourite artist</h3>
            <h6>listen more song your favourite artist</h6>
        </div>
    </div>
    <div class="col-10 suggestion-box">
        <div class="music-slider ratio_115 no-arrow default-space">
            <owl-carousel-o [options]="artistListOptions">
                @for (slideData of artist; track slideData) {
                <ng-template carouselSlide>
                    <div>
                        <div class="story-box">
                            <div class="adaptive-overlay"></div>
                            <div class="story-bg bg-size   ed" [ngStyle]="{'background-image': 'url(' +  slideData.images  + ')'}"
                                style="background-size: cover; background-position: center center; background-repeat: no-repeat; display: block;">
                                <img [src]="slideData.images" class="img-fluid  bg-img" alt="" style="display: none;">
                            </div>
                            <div class="story-content">
                                <h6>{{slideData.name}}</h6>
                                <span class="player">
                                    <app-feather-icon [icons]="'user'" [class]="'icon-light iw-10 ih-10'"></app-feather-icon>{{slideData.fans}}k</span>
                            </div>
                            <div class="story-setting setting-dropdown" (clickOutside)="isShow = false">
                                <div class="btn-group custom-dropdown arrow-none dropdown-sm">
                                    <a [class.show]="isShow" (click)="isShow =!isShow">
                                        <app-feather-icon [icons]="'sun'" [class]="'icon-light iw-13 ih-13'"></app-feather-icon>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right custom-dropdown" [class.show]="isShow">
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0)">
                                                    <app-feather-icon [icons]="'volume-x'" [class]="'icon-font-light iw-16 ih-16'"></app-feather-icon>mute josephin</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">
                                                    <app-feather-icon [icons]="'volume-x'" [class]="'icon-font-light iw-16 ih-16'"></app-feather-icon>view profile</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                }
            </owl-carousel-o>
        </div>
    </div>
</div>