
<header>
    <app-header-one-skeleton></app-header-one-skeleton>
</header>
<div class="page-body container-fluid custom-padding event-page">
    <div class="sidebar-panel">
        <app-sidebar-one-skeleton></app-sidebar-one-skeleton>
    </div>
    <div class="page-center">
        <div class="event-cover">
            <div class="event-img">
            </div>
            <div class="event-timeline">
                <div class="timeline-title">
                    <div class="media">
                        <div class="media-body">
                            <h4></h4>
                            <h6></h6>
                        </div>
                    </div>
                </div>
                <ul class="timeline-content">
                    <li>
                        <h4></h4>
                        <h6></h6>
                    </li>
                    <li>
                        <h4></h4>
                        <h6></h6>
                    </li>
                    <li>
                        <h4></h4>
                        <h6></h6>
                    </li>
                    <li>
                        <h4></h4>
                        <h6></h6>
                    </li>
                    <li>
                        <h4></h4>
                        <h6></h6>
                    </li>
                    <li>
                        <h4></h4>
                        <h6></h6>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row event-body">
            <div class="col-xl-6">
                <div class="event-section">
                    <div class="event_category no-arrow default-space">
                        <div>
                            <div class="event-box section-t-space ratio2_3">
                                <div class="image-section bg-size">
                                    <div class="card-title">
                                        <h3></h3>
                                        <div class="settings">
                                            <div class="setting-btn">
                                                <a href="javascript:void(0)" class="d-flex"> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="event-content">
                                    <h3></h3>
                                    <h6></h6>
                                    <div class="description">
                                        <p></p>
                                        <p></p>
                                    </div>
                                    <div class="bottom-part">
                                        <div class="ldr-btn btn"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="event-box section-t-space ratio2_3">
                                <div class="image-section bg-size">
                                    <div class="card-title">
                                        <h3></h3>
                                        <div class="settings">
                                            <div class="setting-btn">
                                                <a href="javascript:void(0)" class="d-flex"> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="event-content">
                                    <h3></h3>
                                    <h6></h6>
                                    <div class="description">
                                        <p></p>
                                        <p></p>
                                    </div>
                                    <div class="bottom-part">
                                        <div class="ldr-btn btn"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="event-box section-t-space ratio2_3">
                                <div class="image-section bg-size">
                                    <div class="card-title">
                                        <h3></h3>
                                        <div class="settings">
                                            <div class="setting-btn">
                                                <a href="javascript:void(0)" class="d-flex"> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="event-content">
                                    <h3></h3>
                                    <h6></h6>
                                    <div class="description">
                                        <p></p>
                                        <p></p>
                                    </div>
                                    <div class="bottom-part">
                                        <div class="ldr-btn btn"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event-category section-t-space">
                    <div class=" event-title">
                        <div class="content">
                            <h3></h3>
                            <h6></h6>
                        </div>
                    </div>
                    <div class="col-10 suggestion-box">
                        <div class="event-slider ratio_115 no-arrow default-space">
                            <div>
                                <div class="story-box">
                                    <div class="story-bg bg-size"></div>
                                </div>
                            </div>
                            <div>
                                <div class="story-box">
                                    <div class="story-bg bg-size"></div>
                                </div>
                            </div>
                            <div>
                                <div class="story-box">
                                    <div class="story-bg bg-size"></div>
                                </div>
                            </div>
                            <div>
                                <div class="story-box">
                                    <div class="story-bg bg-size"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="calender-section custom-calender section-t-space  section-b-space">
                    <div class="calender-ldr"></div>
                    <div class="event-bottom">
                        <div class="event-content">
                            <h3></h3>
                            <p></p>
                            <h6></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="conversation-panel xl-light">
        <app-conversation-panel-skeleton></app-conversation-panel-skeleton>
    </div>
</div>
