<div class="element-card theme-card bg-white">
    <div class="card-header">
        <h4>Feather Icon usage</h4>
    </div>
    <div class="card-body">
        <div class="icon-usage">
            <div class="row">
                <div class="col-12">
                    <div class="icon-box full-view">
                        <div class="icon-group">
                              <app-feather-icon [class]="'icon-theme iw-30 ih-30'" [icons]="'sun'"></app-feather-icon>
                              <app-feather-icon [class]="'icon-dark iw-30 ih-30'" [icons]="'sun'"></app-feather-icon>
                              <app-feather-icon [class]="'icon-font-color iw-30 ih-30'" [icons]="'sun'"></app-feather-icon>
                              <app-feather-icon [class]="'icon-font-light iw-30 ih-30'" [icons]="'sun'"></app-feather-icon>
                              <app-feather-icon [class]="'icon-light iw-30 ih-30'" [icons]="'sun'"></app-feather-icon>
                              <app-feather-icon [class]="'icon-theme stroke-width-3 iw-30 ih-30'" [icons]="'sun'"></app-feather-icon>
                        </div>
                        <p>
                            <code>
                            &lt;i&nbsp;class="icon-theme iw-30 ih-30"&nbsp;data-feather="sun"&gt;&lt;/i&gt;<br>
                                &lt;i class="icon-dark iw-30 ih-30" data-feather="sun"&gt;&lt;/i&gt;<br>
                            &lt;i class="icon-font-color iw-30 ih-30" data-feather="sun"&gt;&lt;/i&gt;<br>
                            &lt;i class="icon-font-light iw-30 ih-30" data-feather="sun"&gt;&lt;/i&gt;<br>
                            &lt;i&nbsp;class="icon-light iw-30 ih-30"&nbsp;data-feather="sun"&gt;&lt;/i&gt;<br>
                            &lt;i&nbsp;class="icon-theme&nbsp;stroke-width-3 iw-30 ih-30"&nbsp;data-feather="sun"&gt;&lt;/i&gt;<br>
                        </code>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>