<div class="setting-wrapper">
    <div class="setting-title">
        <h3>sharing option</h3>
    </div>
    <div class="form-sec">
        <div>
            <form class="theme-form form-sm">
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label class="title-lable">allow others to share your stories to
                            their own
                            story?
                        </label>
                        <div class="row">
                            <div class="form-check col-12">
                                <label class="form-check-label font-weight-normal"
                                    for="exampleRadios1">
                                    <input class="form-check-input radio_animated"
                                        type="radio" name="exampleRadios"
                                        id="exampleRadios1" value="option1" checked>
                                    allow
                                </label>
                            </div>
                            <div class="form-check col-12">
                                <label class="form-check-label font-weight-normal"
                                    for="exampleRadios2">
                                    <input class="form-check-input radio_animated"
                                        type="radio" name="exampleRadios"
                                        id="exampleRadios2" value="option2">
                                    don't allow
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="title-lable">Allow message replies</label>
                        <div class="row">
                            <div class="form-check col-12">
                                <label class="form-check-label font-weight-normal"
                                    for="exampleRadios3">
                                    <input class="form-check-input radio_animated"
                                        type="radio" name="message" id="exampleRadios3"
                                        value="allow" checked>
                                    your followers
                                </label>
                            </div>
                            <div class="form-check col-12">
                                <label class="form-check-label font-weight-normal"
                                    for="exampleRadios4">
                                    <input class="form-check-input radio_animated"
                                        type="radio" name="message" id="exampleRadios4"
                                        value="dont">
                                    followers you follow back
                                </label>
                            </div>
                            <div class="form-check col-12">
                                <label class="form-check-label font-weight-normal"
                                    for="exampleRadios6">
                                    <input class="form-check-input radio_animated"
                                        type="radio" name="message" id="exampleRadios6"
                                        value="off">
                                    off
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-12">
                        <label class="title-lable">saving</label>
                        <div class="row">
                            <div class="form-group toggle-sec col-md-6">
                                <div class="button toggle-btn">
                                    <input type="checkbox" class="checkbox">
                                    <div class="knobs">
                                        <span></span>
                                    </div>
                                    <div class="layer"></div>
                                </div>
                                <label>save to gallery
                                    <span>Lorem ipsum dolor sit amet</span>
                                </label>
                            </div>
                            <div class="form-group toggle-sec col-md-6">
                                <div class="button toggle-btn">
                                    <input type="checkbox" checked class="checkbox">
                                    <div class="knobs">
                                        <span></span>
                                    </div>
                                    <div class="layer"></div>
                                </div>
                                <label>save to archive
                                    <span>Lorem ipsum dolor sit amet</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-12">
                        <label class="title-lable">sharing</label>
                        <div class="row">
                            <div class="form-group toggle-sec col-md-6">
                                <div class="button toggle-btn">
                                    <input type="checkbox" checked class="checkbox">
                                    <div class="knobs">
                                        <span></span>
                                    </div>
                                    <div class="layer"></div>
                                </div>
                                <label>allow resharing to stories
                                </label>
                            </div>
                            <div class="form-group toggle-sec col-md-6">
                                <div class="button toggle-btn">
                                    <input type="checkbox" class="checkbox">
                                    <div class="knobs">
                                        <span></span>
                                    </div>
                                    <div class="layer"></div>
                                </div>
                                <label>allow sharing
                                </label>
                            </div>
                            <div class="form-group toggle-sec col-md-6">
                                <div class="button toggle-btn">
                                    <input type="checkbox" class="checkbox">
                                    <div class="knobs">
                                        <span></span>
                                    </div>
                                    <div class="layer"></div>
                                </div>
                                <label>share to other social app
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="title-lable">story setting</label>
                        <div class="row">
                            <div class="form-check col-12">
                                <label class="form-check-label font-weight-normal"
                                    for="radio1">
                                    <input class="form-check-input radio_animated"
                                        type="radio" name="share" id="radio1" value="allow"
                                        checked>
                                    only specific friend
                                </label>
                            </div>
                            <div class="form-check col-12">
                                <label class="form-check-label font-weight-normal"
                                    for="radio2">
                                    <input class="form-check-input radio_animated"
                                        type="radio" name="share" id="radio2" value="dont">
                                    all friends
                                </label>
                            </div>
                            <div class="form-check col-12">
                                <label class="form-check-label font-weight-normal"
                                    for="radio3">
                                    <input class="form-check-input radio_animated"
                                        type="radio" name="share" id="radio3" value="off">
                                    hide from
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-right">
                    <a href="javascript:void(0)" class="btn btn-solid">save changes</a>
                </div>
            </form>
        </div>
    </div>
</div>