<div class="event-category section-t-space">
    <div class=" event-title">
        <div class="icon">
            <img src="assets/images/icon/calender.png " class="img-fluid  " alt="calender ">
        </div>
        <div class="content">
            <h3>event category</h3>
            <h6>category</h6>
            <a href="javascript:void(0)">see more</a>
        </div>
    </div>
    <div class="col-10 suggestion-box">
        <div class="event-slider ratio_115 no-arrow default-space">
            <owl-carousel-o [options]="storyDataOptions">
                @for (item of eventCategoryList; track item) {
                <ng-template carouselSlide>
                    <div>   
                        <div class="story-box">
                            <div class="adaptive-overlay"></div>
                            <div class="story-bg bg-size" 
                            [ngStyle]="{'background-image': 'url(' +  item.images  + ')'}"
                                 style="background-size: cover; background-position: center center; background-repeat: no-repeat; display: block;">
                                <img [src]="item.images" class="img-fluid bg-img" data-adaptive-background='1' alt="" style="display: none;">
                            </div>
                            <div class="story-content">
                                <h6>{{item.name}}</h6>
                                <span class="player">
                                    <app-feather-icon [icons]="'user'" [class]="'icon-light iw-10 ih-10'"></app-feather-icon>{{item.fans}}k</span>
                            </div>
                        </div>
                    </div>
                </ng-template>
                }
            </owl-carousel-o>
        </div>
    </div>
</div>