<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="title-sec">
                <h4>find new friends</h4>
                <h3>get in touch with friends</h3>
            </div>
        </div>
        <div class="col-lg-7 order-lg-2">
            <div class="vector-section">
                <img src="assets/images/company-landing/feature-vector/get-in-touch.svg"
                    class="img-fluid wow zoomIn" data-wow-delay="0.20s" alt="">
            </div>
        </div>
        <div class="col-lg-5 order-lg-1">
            <div class="feature-content wow fadeInLeft" data-wow-delay="0.30s">
                <div>
                    <h3 class="title">talk with your loved once</h3>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                        suffered alteration in some form, by injected humour.</p>
                    <a href="javascript:void(0)" class="btn btn-solid btn-md">chat now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="animation-home">
    <div class="cross"></div>
    <div class="cross cross1"></div>
    <div class="tringle"></div>
    <div class="tringle tringle1"></div>
    <div class="circle"></div>
    <div class="circle circle1"></div>
</div>