<div class="container-fluid p-0">
    <div class="app-section bg-size" style="background-image: url(assets/images/breadcrumb.jpg);background-size: cover;background-position: center center;background-repeat: no-repeat;display: block;">
        <img src="assets/images/breadcrumb.jpg" class="img-fluid bg-img" alt="" style="display: none;">
        <div class="app-content">
            <h2>Download friendbook app now</h2>
            <div class="app-buttons">
                <a href="javascript:void(0)">
                    <img src="assets/images/app-btns/app-store.jpg" class="img-fluid" alt="">
                </a>
                <a href="javascript:void(0)">
                    <img src="assets/images/app-btns/play-store.jpg" class="img-fluid" alt="">
                </a>
            </div>
        </div>
    </div>
</div>